<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">
        <div class="gallery">
            <div class="img-container">
                <img src="./img/prev/img_1.jpg" alt="Image 1 caption" data-org="img_1.jpg">
            </div>
            <div class="img-container">
                <img src="./img/prev/img_2.jpg" alt="Image 2 caption" data-org="img_2.jpg">
            </div>
            <div class="img-container">
                <img src="./img/prev/img_3.jpg" alt="Image 3 caption" data-org="img_3.jpg">
            </div>
            <div class="img-container">
                <img src="./img/prev/img_4.jpg" alt="Image 4 caption" data-org="img_4.jpg">
            </div>
        </div>
    </div>
    <div class="modal">
        <img src="./img/org/img_1.jpg" alt="" class="full_img">
        <p class="caption">Hello</p>
    </div>
    <script src="./main.js"></script>
</body>

</html>