*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(
    90deg,
    hsla(152, 100%, 50%, 1) 0%,
    hsla(186, 100%, 69%, 1) 100%
  );
}

.progressBar {
  width: 500px;
  height: 80px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-top: 15px solid #fff;
  border-bottom: 15px solid #fff;
  padding: 0 10px;
  filter: drop-shadow(4px 4px 2px #000);
}

.left,
.right {
  width: 15px;
  height: 15px;
  position: absolute;
  background: #fff;
  box-shadow: 4px 4px 6px -2px #333;
}

.left1 {
  left: -20px;
  top: 0px;
}

.left2 {
  left: -20px;
  top: 35px;
}

.left3 {
  left: -45px;
}

.right1 {
  right: -20px;
  top: 0px;
}

.right2 {
  right: -20px;
  top: 35px;
}

.right3 {
  right: -45px;
}

.fill {
  width: 30px;
  height: 30px;
  transform: scaleX(0);
  transform-origin: left center;
  background: transparent;
  box-shadow: 2px 2px 3px -2px #333;
  animation: progress 300ms linear forwards;
}

.fill1 {
  animation-delay: 000ms;
  background: #301d7d;
}

.fill2 {
  animation-delay: 300ms;
  background: #6a0487;
}

.fill3 {
  animation-delay: 600ms;
  background: #a8186e;
}

.fill4 {
  animation-delay: 900ms;
  background: #c91853;
}

.fill5 {
  animation-delay: 1200ms;
  background: #f2541b;
}

.fill6 {
  animation-delay: 1500ms;
  background: #ffbf15;
}

.fill7 {
  animation-delay: 1800ms;
  background-color: #138808;
}

.fill8 {
  animation-delay: 2100ms;
  background-color: #138808;
}

.fill9 {
  animation-delay: 2400ms;
  background-color: #138808;
}

@keyframes progress {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }
  100% {
    transform: scaleX(1);
    opacity: 1;
  }
}

@keyframes flicker {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 0;
  }
  11% {
    opacity: 1;
  }
  12% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  21% {
    opacity: 1;
  }
  22% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  31% {
    opacity: 1;
  }
  32% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  41% {
    opacity: 1;
  }
  42% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  51% {
    opacity: 1;
  }
  52% {
    opacity: 0;
  }
  60% {
    opacity: 0;
  }
  61% {
    opacity: 1;
  }
  62% {
    opacity: 0;
  }
  70% {
    opacity: 0;
  }
  71% {
    opacity: 1;
  }
  72% {
    opacity: 0;
  }
  80% {
    opacity: 0;
  }
  81% {
    opacity: 1;
  }
  82% {
    opacity: 0;
  }
  90% {
    opacity: 0;
  }
  91% {
    opacity: 1;
  }
  92% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
