<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Side Navigation Bar</title>
    <script src="https://kit.fontawesome.com/a7e9f794eb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./side_navBar_small.css">
</head>
<body>
    <div class="container">

        <nav class="navbar one">
            <div class="closeBtn" href="#">&times;</div>
            <a class="item" href="#">Home</a>
            <a class="item" href="#">About</a>
            <a class="item" href="#">Products</a>
            <a class="item" href="#">Services</a>
            <a class="item" href="#">Contact</a> 
        </nav>

        <nav class="navbar two">
            <div class="closeBtn" href="#">&times;</div>
            <a class="item" href="#"><i class="fas fa-home"></i> Home</a>
            <a class="item" href="#"><i class="fas fa-child"></i> About</a>
            <a class="item" href="#"><i class="fab fa-product-hunt"></i> Products</a>
            <a class="item" href="#"><i class="fas fa-cogs"></i> Services</a>
            <a class="item" href="#"><i class="far fa-address-book"></i> Contact</a> 
        </nav>

        <nav class="navbar three">
            <div class="closeBtn" href="#">&times;</div>
            <a class="item" href="#"><i class="fas fa-home"></i> Home</a>
            <a class="item" href="#"><i class="fas fa-child"></i> About</a>
            <a class="item" href="#"><i class="fab fa-product-hunt"></i> Products</a>
            <a class="item" href="#"><i class="fas fa-cogs"></i> Services</a>
            <a class="item" href="#"><i class="far fa-address-book"></i> Contact</a> 
        </nav>

        <nav class="navbar four">
            <div class="closeBtn" href="#">&times;</div>
            <a class="item" href="#"><i class="fas fa-home"></i> Home</a>
            <a class="item" href="#"><i class="fas fa-child"></i> About</a>
            <a class="item" href="#"><i class="fab fa-product-hunt"></i> Products</a>
            <a class="item" href="#"><i class="fas fa-cogs"></i> Services</a>
            <a class="item" href="#"><i class="far fa-address-book"></i> Contact</a> 
        </nav>

        <div class="btn_container">
            <div class="btn" data-num="1">Simple Side Navigation Bar</div>
            <div class="btn" data-num="2">Side Navigation Bar With Icons</div>
            <div class="btn" data-num="3">Side Navigation Bar Pushing Main Content</div>
            <div class="btn" data-num="4">Side Navigation Bar With Blur Effect</div>
        </div>

        <div class="main">
            <div class="line"></div>
            <h1>Lorem Ipsum</h1>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Totam molestias ad id, accusamus natus nisi maiores magni aspernatur vel molestiae maxime nesciunt. Soluta ipsam sed debitis dolores in officiis excepturi?
            Sequi cumque fugiat autem facere! Quos culpa consectetur illum facere voluptates, aliquam repellat recusandae amet dicta dolorem perferendis blanditiis eligendi vero ut doloribus quas mollitia nisi vel incidunt rem ratione.
            Cumque ad reiciendis sit quaerat ullam natus perferendis nostrum, error praesentium deserunt voluptates fugiat possimus excepturi aliquam quisquam quo expedita velit iste odio. Consectetur corporis reiciendis amet. Doloribus, repellat aliquam!
            Dolorum, rerum praesentium odit quis officia vitae laudantium reiciendis maiores distinctio, nostrum, blanditiis expedita. Voluptatum quibusdam libero voluptates nihil, suscipit blanditiis velit unde quis dicta corrupti reprehenderit saepe quia sapiente.
            Dolore corrupti earum facere velit eaque dolorum, aliquam molestias consequatur laudantium beatae pariatur. Eaque minima, ipsum at aliquid voluptatibus quas aut cumque, nulla soluta iure quo aliquam asperiores eum mollitia?
            Reiciendis mollitia tempora veniam minima ab eaque molestias dicta et assumenda sed? Maxime velit dolorem nobis dolor consectetur corporis laborum vel repellendus. Aliquam magnam placeat rem explicabo! Placeat, repudiandae amet!
            Impedit neque a necessitatibus nobis itaque blanditiis minima, incidunt commodi, ducimus unde iste asperiores corporis eaque dolor hic? Ad maiores corrupti nostrum aut reiciendis. Temporibus totam vitae explicabo autem? Saepe.
            Eaque, quo beatae, repellat blanditiis voluptatem fuga aspernatur voluptates nostrum a molestias veniam, error laudantium fugit! Vero atque, quidem suscipit repellendus ratione in quam eum fugit maiores, commodi eius minima?
            Aut soluta expedita similique distinctio odit fugiat totam dicta commodi, quod et corrupti asperiores cumque culpa sed voluptatem ipsa consectetur, vel facilis excepturi veniam! Ratione, provident reprehenderit. Pariatur, ipsa quam!
            Fugiat voluptas error culpa perspiciatis laboriosam eveniet delectus voluptatum! Commodi, eius cum aut dolorem eaque aliquid voluptatibus, inventore incidunt quas aperiam harum blanditiis assumenda aspernatur officiis et ullam eveniet similique.
            Delectus optio quo sit officiis doloremque facilis maxime porro reiciendis totam! Quo obcaecati impedit, esse, suscipit sit delectus fugit placeat explicabo cumque dolor, voluptas sint laboriosam ipsam velit rem dolorem!
            Illum quas quia quisquam deserunt esse nihil expedita rem excepturi? Fugiat esse commodi harum dolorem. Molestiae, similique voluptate atque laborum quam, aut suscipit officia cupiditate, inventore aliquam ipsa delectus consectetur.
            Numquam illo cupiditate unde beatae? Magnam recusandae maiores totam quod consequuntur quas corrupti similique vel molestiae animi minus, eveniet sed aspernatur quia cumque asperiores amet, facere magni temporibus vitae! Adipisci?
            Quia corrupti ipsum, sunt qui fugit explicabo dolorem, labore atque nulla perspiciatis voluptatum praesentium modi facilis temporibus vel, mollitia aut dolores quaerat molestiae tempora? Minima dolorum odio error perspiciatis inventore!
            Ex consectetur ut amet architecto dolores? Magni, architecto asperiores, optio veritatis vel enim molestiae aliquid consequuntur aliquam dicta iusto possimus maxime! Animi excepturi ab obcaecati odit facilis deserunt nihil ipsam?
            Molestias est exercitationem, iste tempora nulla fuga tempore aspernatur minima aliquid omnis rem necessitatibus molestiae beatae officiis perspiciatis voluptatem ad ea repellendus vero corrupti qui explicabo eum! Distinctio, doloremque! Eligendi!
            Animi autem porro numquam suscipit consectetur placeat laboriosam, repellat quod nulla a. Vero, culpa deleniti soluta veniam dignissimos repellat aliquid, ipsum nostrum odit eum suscipit quia possimus, beatae voluptas quasi.
            Vel a rerum sapiente, porro ex, mollitia debitis doloribus voluptatibus, dolorum non modi omnis delectus maiores deleniti nam dignissimos quas fugiat? Maiores error magnam, natus porro dolor quas earum consequuntur.
            Non, ex voluptatem, architecto placeat, porro maxime fugit neque consequatur exercitationem vitae voluptatibus eveniet delectus voluptates rem ullam odit molestiae dolore ipsa nostrum sint. Magnam exercitationem laudantium tempore iusto sunt!
            Suscipit aspernatur repudiandae nesciunt labore placeat magnam provident voluptatibus reiciendis ipsum dolorum molestiae in, aliquid praesentium vitae? Ut explicabo dignissimos veritatis, officiis, perferendis facere expedita pariatur, excepturi vel iste numquam!
            Dolorum eaque ipsam, fugit ex quisquam id tempora repudiandae dolores, quo, sunt ut? Ut laudantium consectetur error molestias! Quisquam vitae, labore a quidem explicabo voluptates ipsum recusandae assumenda nostrum iusto!
            Omnis facilis dolorem a cupiditate, fugiat rerum ex asperiores rem adipisci assumenda magnam eligendi enim atque, cumque porro animi nisi sapiente debitis officia aspernatur praesentium quia. Reiciendis alias nam sunt!
            Sed excepturi perferendis eveniet nemo! Cum eius illo perspiciatis cumque reiciendis nemo nobis ad unde beatae. Doloribus nam et dicta sequi quam iure laborum! Maxime molestias ipsa exercitationem voluptas incidunt?
            Excepturi necessitatibus delectus, optio possimus aut, amet quo illo dolores ipsam ut velit autem. Distinctio soluta nobis consequatur, necessitatibus unde nemo, tempora corrupti odit esse commodi ad eos, doloribus repudiandae?
            Impedit nulla culpa maxime vitae nemo. Repellat voluptatem corporis placeat quo, eveniet iure illum consectetur unde doloremque ab quia ut mollitia, temporibus odio recusandae eum odit quibusdam! Qui, error explicabo.
            Delectus laborum ducimus neque voluptatibus vero accusamus ratione sint rem sunt doloremque maxime, quam, beatae quos veritatis animi. Ratione natus nam illum veritatis quae voluptatem earum minima, praesentium id possimus.
            Veniam laudantium molestiae similique. Ipsum recusandae, at, aperiam eveniet, fugit impedit tenetur reprehenderit quae nostrum sit atque. In aliquam quaerat natus ipsam quibusdam neque alias iusto sapiente qui. Quos, porro!
            Aliquam sapiente minima officia quia vero nemo. Facilis quos doloremque placeat. Sint corporis nulla libero facilis odio, sunt aut fugiat nisi soluta, officia atque, quae temporibus repellat tempora quia voluptate?
            Doloremque, accusantium. Earum possimus doloremque, minus eius, impedit consectetur error itaque harum vel nisi nesciunt, omnis voluptate optio. Accusamus dolores dolorem, officia commodi a excepturi quibusdam odio esse numquam nam.
            Eos ipsa sunt similique saepe aliquid dolore placeat earum tempore sapiente voluptatum modi, voluptatem beatae quibusdam laudantium alias libero magnam omnis eaque excepturi. At excepturi cum ducimus delectus qui cumque!</p>
            <div class="overlay"></div>
        </div>
    </div>
    <script src="./side_navBar_small.js"></script>
</body>
</html>