// let textarea = document.querySelector('.t1');
// let msgArray = ["Initializing script", "Activating engine", "Running queries...", "Thlineing errors...", "Catching errors", "", "END OF SCRIPT"];
// let speed = 60, index = 0, position = 0, strlen = msgArray[0].length;

// function printLine(line) {
//     let line_len = line.length;
//     for (let j = 0; j < line_len; j++) {
//         function line_timer() {
//             setTimeout(() => {
//                 printLetters(line[j]);
//             }, j * 2000);
//         }
//         line_timer();
//     }
// }

// function printLetters(word) {
//     let len = word.length;

//     for (let i = 0; i < len; i++) {
//         function timer() {
//             setTimeout(() => {
//                 textarea.value = word.substring(0, i + 1);
//             }, i * 100);
//         }
//         timer();
//         textarea.value+='\n';
//     }

// }

// printLine(msgArray);