/* font-family: 'Parisienne', cursive;
font-family: 'Raleway', sans-serif; */

:root{
    
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

html{
    font-size: 62.5%;
    font-family: 'Raleway', sans-serif;
}

body{
    overflow-x: hidden;
}

.landing{
    width: 100vw;
    height: 100vh;
    background-image: url('./images/hero1.jpg');
    background-position: center;
    background-size: cover;
}

.navBar{
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 6rem;
    width: 100%;
    background-color: rgba(31, 31, 31, 0.4);
}

.logo{
    font-size: 2rem;
    letter-spacing: 0.4rem;
    text-transform: uppercase;
    color: #Fff;
    display: flex;
    font-family: 'Merienda One', cursive;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
}

.item{
    padding: 1rem 2rem;
}

.item a{
    font-size: 1.5rem;
    color: #FFA970;
    text-decoration: none;
    letter-spacing: 2px;
}

.item a:hover{
    color: #fff;
}

.icon i{
    display: none;
    color: #fff;
    font-size: 3rem;
    transition: all 300ms ease;
}

.icon i:hover{
    color: #FFA970;
}








