<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="nav">
        <ul class="nav__list">
          <li class="nav__menu">menu
            <ul class="nav__menu-lists nav__menu--1-lists">
              <li class="nav__menu-items">Etiam</li>
              <li class="nav__menu-items">Lectus</li>
              <li class="nav__menu-items">Netus</li>
              <li class="nav__menu-items">Dictum</li>
              <li class="nav__menu-items">Nibh</li>
            </ul>
          </li>
        </ul>
    </div>
</body>
</html>