.story{
    &__pictures{
        background-color: $color-primary;
        grid-column: fbs / ce 4;

        display: grid;
        grid-template-rows: repeat(6, 1fr);
        grid-template-columns: repeat(6, 1fr);
        align-items: center;
        background-image: url(../image/bg.jpg);
        background-size: cover;
        background-attachment: fixed;
    }

    &__img--1{
        width: 100%;
        grid-column: 2 / span 4;
        grid-row: 2 / span 4;
        box-shadow: 0 2rem 5rem rgba(1,1,1,0.3);

    }

    &__img--2{
        width: 120%;
        grid-column: 4/span 4;
        grid-row: 3/span 4;
        z-index: 100;
        box-shadow: 0 2rem 5rem rgba(1,1,1,0.3);
    }

    &__content{
        background-color: $color-grey-light-1;
        grid-column: cs 5 / fbe;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 6rem 12rem;
        
    }

    &__text{
        font-size: 1.6rem;
    }
}

.btn {
    background-color: $color-primary;
    color: #fff;
    border: none;
    border-radius: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 1.2rem 2.4rem;
    transition: all 0.2s ease;
    cursor: pointer;

    &:hover {
        background-color: $color-primary-dark;
    }
}