img {
    width: 100%;
}

.head {
    background-image: url('./images/heading_bg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}

.section1 {
    background-image: url('./images/section_bg.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.landing {
    height: 90vh;
    display: grid;
    align-items: center;
}

.center {
    padding: 0 10rem;
}

.services-card {
    display: grid;
    grid-gap: 4rem;
    grid-template-columns: repeat(2, 1fr);
}