:root{
    
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

img{
    max-width: 100%;
}

.section{
    min-height: 100vh;
    max-width: 144rem;
    width: 100vw;
}

html{
    scroll-behavior: smooth;
    font-size: calc(10px + (12 - 10) *((100vw - 320px) / (1440 - 320)));
}

body{
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
}

.container{
    max-width: 100vw;
    width: 100%;
    height: auto;
    position: relative;
}

.section{
    max-width: 100vw;
    width: 100%;
    position: relative;
    margin-bottom: 10rem;
}

.headBlock{
    margin-bottom: 5rem;
}

.heading{
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
    letter-spacing: 0.5rem;
    margin-bottom: 1rem;
}

.subHeading{
    text-align: center;
    letter-spacing: 0.5rem;
    font-size: 1.2rem;
    text-transform: uppercase;
}

/* ---------------------------------------------------------- */

/* Header Section Starts */
.header{
    max-width: 100%;
    width: 100vw;
    height: 6rem;
    background-color: slateblue;
    padding: 0 2rem;
    position: relative;
}

.header--container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav--icon, 
.logo, 
.logo span{
    transition: all 300ms ease;
    font-weight: 600;
}

.logo{
    font-size: 1.2rem;
    letter-spacing: 0.3rem;
    color: #fff;
    position: absolute;
    top: 2rem;
    left: 2rem;
}

.nav--icon:hover .logo{
    color: orange;
}

.logo span{
    color: orange;
    font-size: 1.5rem;
}

.nav--icon:hover span{
    color: #fff;
}

.nav--list{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav--item{
    font-size: 1.6rem;
    padding: 0 1rem;
    letter-spacing: 0.3rem;
    color: #fff;
}

.nav--item:hover{
    text-shadow:  0 1px 0 #111, 0 2px 0 #111, 0 3px 0 #111,
    0 4px 0 #111, 0 5px 0 #111, 0 6px 0 #111;
    color: #fff;
}

.nav--iconToggle{
    position: absolute;
    color: #fff;
    font-size: 2rem;
    display: none;
    top: 2rem;
    right: 2rem;
}

.nav--iconToggle:hover{
    color: tomato;
}
/* Header Section Ends */

/* Scroll To Top Starts*/
.scrollToTop{
    position: fixed;
    top: 90%;
    right: 5%;
    display: none;
    height: 4rem;
    width: 4rem;
    z-index: 10;
}

.scrollToTop a{
    font-size: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rebeccapurple;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
}

.scrollToTop i{
    color: #fff;
}

.scrollToTop:hover{
    animation: bounce 1s infinite;
}

.scrollToTop:hover a {
    background-color: tomato;
}

.scrollToTop:hover i {
    color: #111;
}

@keyframes bounce {
    from {
        transform: scale(1);
        transform-origin: center center;
        animation-timing-function: ease-out;
      }
      10% {
        transform: scale(0.91);
        animation-timing-function: ease-in;
      }
      17% {
        transform: scale(0.98);
        animation-timing-function: ease-out;
      }
      33% {
        transform: scale(0.87);
        animation-timing-function: ease-in;
      }
      45% {
        transform: scale(1);
        animation-timing-function: ease-out;
      }
}

/* Scroll To Top Ends*/

.container{
    width: 96vw;
    max-width: 1440px;
    margin: 0 auto;
}

/* Landing Page Starts */

.home{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url('../image/hero.jpg');
    background-position: center;
    background-size: cover;
}

.home--container{
    width: 100%;
    height: calc(100% - 6rem);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home--head{
    font-size: 5rem;
    letter-spacing: 1rem;
}

.home--head span{
    color: blue;
    margin-bottom: 2rem;
}

.home--sub{
    font-size: 1.4rem;
    letter-spacing: 0.2rem;
    margin-bottom: 5rem;
}

.home--btn{
    background-color: springgreen;
    padding: 1rem 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 1rem 3rem 0px;
    letter-spacing: 1.5px;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    transition: all 200ms ease-in-out;
    border: none;
    outline: none;
}

.home--btn:hover{
    background-color: slateblue;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0.5rem 1rem 0px;
    color: #fff;
}

/* Landing Page Ends */

/* About Page Starts */

.about--headBlock{
    margin: 5rem 0rem;
}

.about--content{
    margin: 0 5rem;
}

.about--description{
    font-size: 1.6rem;
    padding: 1rem 0;
    line-height: 150%;
    letter-spacing: 0.2rem;
}

.about--btn{
    background-color: springgreen;
    padding: 1rem 2rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 1rem 3rem 0px;
    letter-spacing: 1.5px;
    font-size: 1.4rem;
    border-radius: 0.5rem;
    transition: all 200ms ease-in-out;
    border: none;
    outline: none;
    margin-top: 5rem;
}

.about--btn:hover{
    background-color: slateblue;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 0.5rem 1rem 0px;
    color: #fff;
}

.about--cards{
    width: 100%;
    margin-top: 5rem;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    margin-bottom: 10rem;
}

.about--card{
    position: relative;
    width: 30rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(106, 90, 205);
    margin: 0 auto;
    color: #fff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 5rem 10rem -2rem, 
    rgba(0, 0, 0, 0.3) 0px 3rem 6rem -3rem;
    margin-bottom: 2rem;
}

.about--card .card--icon{
    font-size: 3rem;
}

.about--card .card--head{
    font-size: 2rem;
    padding-top: 1rem;
    letter-spacing: 1.5px;
}

.about--card .card--subHead{
    font-size: 1.4rem;
    padding-top: 0.5rem;
    letter-spacing: 2px;
}

.about--card:hover{
    color: slateblue;
    background-color: #fff;
    box-shadow: rgba(106, 90, 205, 0.65) 0px 48px 100px 0px;
}

.border{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95%;
    width: 95%;
    border: 2px dashed white;
    z-index: 10;
}

/* About Page Ends */

/* Services Page Starts */

.services--content{
    width: 100%;
    margin-top: 5rem;
}

.services--cards{
    margin: 0 5rem;
    padding: 2rem 0rem;
    display: flex;
    justify-content: space-around;
}

.services--card{
    width: 25rem;
    height: 20rem;
    background-color: rgb(106, 90, 205);
    border-radius: 1rem;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, 
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    position: relative;
}

.services--card .card--icon{
    font-size: 3rem;
    color: #fff;
}

.services--card .card--head{
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    padding: 1rem 0rem;
    color: #fff;
}

.services--card:hover{
    background-color: #fff;
    box-shadow: rgba(106, 90, 205, 0.65) 0px 48px 100px 0px;
}

.services--card:hover .card--head,
.services--card:hover .card--icon{
    color: slateblue;
}

/* Services Page Ends */

/* Menu Page Starts */

.menu {
    background-color: #fff;
}

.menu--content{
    width: 100%;
    height: 100%;
    padding: 2rem;
}

.popularDishes--head{
    position: absolute;
    top: 10rem;
    letter-spacing: 4px;
    text-align: center;
    width: 100%;
    font-size: 2rem;
}

.popularDishes--data{
    width: 100%;
    margin: 0 auto;
    display: grid;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
    grid-template-columns: repeat(4, 25rem);
    grid-template-rows: repeat(4, 25rem);
    margin-top: 5rem;
    position: relative;
}

.block1, .block1--text{
    position: relative;
    height: 20rem;
    width: 25rem;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, 
    rgba(17, 17, 26, 0.1) 0px 16px 56px, 
    rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.block1--text{
    background-color: rgb(65, 105, 225);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.block1:hover, 
.block1--text:hover,
.block1--large:hover{
    box-shadow: rgba(65, 105, 225, 0.3) 0px 8px 24px, 
    rgba(65, 105, 225, 0.3) 0px 16px 56px, 
    rgba(65, 105, 225, 0.3) 0px 24px 80px;
}

.block1--text .text--icon{
    font-size: 4rem;
}

.block1--text .text--head{
    font-size: 1.8rem;
    margin-top: 1rem;
}

.block1--text .text--item{
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
    letter-spacing: 1.5px;
}

.block1--large{
    height: 40rem;
    width: 25rem;
    background-size: cover;
    background-position: center;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, 
    rgba(17, 17, 26, 0.1) 0px 16px 56px, 
    rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.content--picLarge1{
    grid-column: 1/2;
    grid-row: 1 / span 2;
    background-image: url('../image/large1.jpg');
}

.content--picLarge2{
    grid-column: 3/4;
    grid-row: 1 / span 2;
    background-image: url('../image/large2.jpg');
}

.content--picLarge3{
    grid-column: 2/3;
    grid-row: 3 / span 2;
    background-image: url('../image/large3.jpg');
}

.content--picLarge4{
    grid-column: 4/5;
    grid-row: 3 / span 2;
    background-image: url('../image/large4.jpg');
}

.content--pic1{
    grid-column: 1/2;
    grid-row: 4/5;
    background-image: url('../image/pic1.jpg');
}

.content--pic2{
    grid-column: 2/3;
    grid-row: 1/2;
    background-image: url('../image/pic2.jpg');
}

.content--pic3{
    grid-column: 4/5;
    grid-row: 2/3;
    background-image: url('../image/pic3.jpg');
}

.content--pic4{
    grid-column: 3/4;
    grid-row: 3/4;
    background-image: url('../image/pic4.jpg');
}

.menu--newArrival{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newArrival--mainhead{
    width: 100%;
    font-size: 2rem;
    margin-top: 2rem;
    text-align: center;
}
.newArrival--content{
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}

.newArrival--card{
    position: relative;
    width: 25rem;
    padding: 1rem;
    height: 40rem;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, 
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

.newArrival--card:hover{
    box-shadow: rgba(65, 105, 225, 0.3) 0px 8px 24px, 
    rgba(65, 105, 225, 0.3) 0px 16px 56px, 
    rgba(65, 105, 225, 0.3) 0px 24px 80px;
}
    


.newArrival--item1{
    background-image: url('../image/nigiri.jpg'); 
}

.newArrival--item2{
    background-image: url('../image/grilled.jpg'); 
}

.newArrival--item3{
    background-image: url('../image/fishAndchips.jpg'); 
}

.newArrival--item4{
    background-image: url('../image//burrito.jpg'); 
}

.newArrival--item5{
    background-image: url('../image/quesdailla.jpg'); 
}

.newArrival--head{
    color: #fff;
    background-color: rgb(65, 105, 225);
    padding: 1rem;
    letter-spacing: 2px;
    font-size: 2rem;
    text-align: center;
    margin-top: 2rem;
    width: 100%;
}

.newArrival--card:hover .newArrival--head{
    background-color: rgba(0, 170, 65, 0.938);
    color: #fff;
    text-shadow: 0 1px 0 rgb(65, 105, 225);
}

.newArrival--description{
    background-color: rgb(65, 105, 225);
    color: #fff;
    letter-spacing: 1.5px;
    line-height: 160%;
    padding: 1.5rem;
    font-size: 1.4rem;
    width: 100%;
    bottom: -25rem;
    position: absolute;
    transition: all 300ms ease-in;
}

.newArrival--card:hover .newArrival--description{
    bottom: 2rem;
}

.newArrival--pic1{
    background-image: url('../image/dummy1.jpg'); 
}

.newArrival--pic2{
    background-image: url('../image/dummy2.jpg'); 
}

.newArrival--pic3{
    background-image: url('../image/dummy3.jpg'); 
}

/* Menu Page Ends */

/* Contact Page Starts */

.contact--info{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 0;
}

.info--block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: slateblue;
    width: 20rem;
    height: 20rem;
    position: relative;
    color: #fff;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, 
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
}

.info--icon{
    font-size: 4rem;
    margin-bottom: 1rem;
}

.info--text{
    font-size: 1.6rem;
    line-height: 200%;
}

.contact--form{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    row-gap: 1rem;
    width: 100%;
    height: 25rem;
    background-color: slateblue;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, 
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
    position: relative;
    padding: 2rem;
}

.contact--form .border{
    width: calc(100% - 1.5rem);
    height: calc(100% - 1.5rem);
}

.form--block--left,
.form--block--right{
    height: 20rem;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.form--block,
.form--block-alt{
    width: 100%;
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.6rem;
    margin: 0.5rem 0;
    padding: 0 1rem;
    color: #fff;
}

.form--block-alt{
    height: 100%;
    align-items: flex-start;
}

input{
    width: 70%;
    height: 100%;
    padding: 0.2rem 1rem;
    outline: none;
}

label{
    font-size: 2rem;
    letter-spacing: 0.3rem;
}

textarea{
    resize: none;
    height: 100%;
    width: 60%;
    outline: none;
    padding: 1rem;
}

/* Contact Page Ends */


/* Media Query */

/* Toggle Menu */
@media screen and (max-width:650px) {

    .header--nav{
        display: none;
    }

    .nav--iconToggle{
        display: block;
        padding: 0 2rem;
    }

    .header.toggle{
        height: auto;
        padding: 5rem 0 2rem;
    }

    .toggle .header--container{
        display: flex;
        flex-direction: column;
    }

    .toggle .header--nav{
        display: flex;
    }

    .toggle .nav--list{
        display: flex;
        flex-direction: column;
    }

    .toggle .nav--item{
        padding: 1rem;
    }
}

/* Toggle Menu */
