* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Cinzel', serif;
}

.landing {
    color: #fff;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.nav{
    position: absolute;
    top: 0;
}

.navbar{
    width: 100%;
    list-style: none;
    display: flex;
    margin-top: 2rem;
}

.item{
    padding: 1rem;
    font-size: 20px;
}

.landing__data{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.data__outlayer{
    width: 100%;
    perspective: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.data__inlayer{
    width: max-content;
    transition: all 0.5s linear;
    transform-style: preserve-3d;
}

.data__inlayer::after{
    filter: blur(100px);
    height: 100px;
    width: 100%;
    background-color: #555;
}

.data__inlayer .head {
    transform: translateZ(100px);
  }
  .data__inlayer .para {
    transform: translateZ(15px);
  }

.landing__data .head{
    font-size: 40px;
    text-align: center;
}

.para{
    font-size: 20px;
}

.para span {
    color: red;
    font-size: 40px;
}

