<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="slider-pages">

        <article class="js-scrolling__page js-scrolling__page-1 js-scrolling--active">
          <div class="slider-page slider-page--left">
            <div class="slider-page--skew">
              <div class="slider-page__content">
              </div>
              <!-- /.slider-page__content -->
            </div>
            <!-- /.slider-page--skew -->
          </div>
          <!-- /.slider-page slider-page--left -->
      
          <div class="slider-page slider-page--right">
            <div class="slider-page--skew">
              <div class="slider-page__content">
                <h1 class="slider-page__title slider-page__title--big">
                  Gray & White - Skewed Slider with Scrolling
                </h1>
                <!-- /.slider-page__title slider-page__title--big -->
                <h2 class="slider-page__title">
                  Start of your story
                </h2>
                <!-- /.slider-page__title -->
                <p class="slider-page__description">
                  Please scroll down or press the down arrow on your keyboard
                </p>
                <!-- /.slider-page__description -->
              </div>
              <!-- /.slider-page__content -->
            </div>
            <!-- /.slider-page--skew -->
          </div>
          <!-- /.slider-page slider-page--right -->
        </article>
        <!-- /.js-scrolling__page js-scrolling__page-1 js-scrolling--active -->
      
      
        <article class="js-scrolling__page js-scrolling__page-2">
          <div class="slider-page slider-page--left">
            <div class="slider-page--skew">
              <div class="slider-page__content">
                <h1 class="slider-page__title">
                  Now you are here
                </h1>
                <!-- /.slider-page__title -->
                <p class="slider-page__description">
                  Please continue scrolling
                </p>
                <!-- /.slider-page__description -->
              </div>
              <!-- /.slider-page__content -->
            </div>
            <!-- /.slider-page--skew -->
          </div>
          <!-- /.slider-page slider-page--left -->
      
          <div class="slider-page slider-page--right">
            <div class="slider-page--skew">
              <div class="slider-page__content">
              </div>
              <!-- /.slider-page__content -->
            </div>
            <!-- /.slider-page--skew -->
          </div>
          <!-- /.slider-page slider-page--right -->
        </article>
        <!-- /.js-scrolling__page js-scrolling__page-2 -->
      
      
        <article class="js-scrolling__page js-scrolling__page-3">
          <div class="slider-page slider-page--left">
            <div class="slider-page--skew">
              <div class="slider-page__content">
              </div>
              <!-- /.slider-page__content -->
            </div>
            <!-- /.slider-page--skew -->
          </div>
          <!-- /.slider-page slider-page--left -->
      
          <div class="slider-page slider-page--right">
            <div class="slider-page--skew">
              <div class="slider-page__content">
                <h1 class="slider-page__title">
                  Final is just the beginning
                </h1>
                <!-- /.slider-page__title -->
                <p class="slider-page__description">
                  hello world
                </p>
                <!-- /.slider-page__description -->
              </div>
              <!-- /.slider-page__content -->
            </div>
            <!-- /.slider-page--skew -->
          </div>
          <!-- /.slider-page slider-page--right -->
        </article>
        <!-- /.js-scrolling__page js-scrolling__page-3 -->
      
      </section>
      <!-- /.slider-pages -->
      <script src="./slider_script.js"></script>
</div>
   
      
</body>
</html>