/* Header */
/* 1201px and more */
@media screen and (min-width: 1201px){
    .header{
        width: 100vw;
        height: 60px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: royalblue;
    }

    .navlogo{
        display: block;
        color: #fff;
        font-size: 50px;
        font-weight: 600;
        letter-spacing: 2px;
    }

    .navBar{
        background-color: royalblue;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
    }

    .navBar a{
        font-size: 20px;
    }

    .hamburger {
        display: none;
    }

    .navBar--top{
        display: none;
    }

    .navBar--top{
        position: absolute;
        display: block;
        right: 20px;
        top: 20px;
    }

}


/* 1025px — 1200px */
@media screen and (max-width: 1200px){
    .navlogo{
        display: block;
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 2px;
        background-color: royalblue;
    }

    .navBar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
    }

    .navBar{
        background-color: royalblue;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
    }

    .navBar a{
        font-size: 18px;
    }

    .hamburger {
        display: none;
    }

    .navBar--top{
        display: none;
    }
}



/* 769px — 1024px: */
@media screen and (max-width: 1024px){

    .navlogo{
        display: block;
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 2px;
    }

    .navBar{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 15px;
        padding-right: 100px;
    }

    .hamburger {
        display: none;
    }


}



/* 481px — 768px */
@media screen and (max-width: 768px){
 
    .navlogo{
        display: block;
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 2px;
    }

    .navBar li{
        font-size: 16px;
    }

    .navBar li a {
        color: #fff;
    }

    .navBar li:hover a{
        color: tomato;
    } 

    .header .btn {
        color: #fff;
        height: 30px;
    }

    .header .btn{
        border: 2px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

}

/* 320px — 480px */
@media screen and (min-width: 320px) and (max-width: 480px){
    .header{
        width: 100vw;
        height: 60px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #000;
    }

    .navlogo{
        display: block;
        color: #fff;
        font-size: 30px;
        font-weight: 600;
        letter-spacing: 2px;
    }

    .navBar{
        display: none;
    }

    .navBar--top{
        display: none;
    }

    .fullscreen.navBar{
        position: absolute;
        top: 60px;
        height: calc(100vh - 60px);
        background-color: royalblue;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        padding: 20px 0;
    }

    .fullscreen.navBar li{
        font-size: 20px;
    }

    .fullscreen.navBar li a {
        color: #fff;
    }

    .fullscreen.navBar li:hover a{
        color: tomato;
    } 

    .header .btn {
        color: #fff;
        height: 30px;
    }

    .header .btn{
        border: 2px solid #fff;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .hamburger span{
        background-color: #fff;
    }
}



/* Header Ends */



/* body {
    font-size: calc(14px + (26 - 14) * ((100vw - 320px) / (1600 - 320)));
  } */