*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

html{
    font-family: 'Montserrat', sans-serif;
    font-size: 62.5%;
    overflow-x: hidden;
}

img{
    width: 100%;
}

.container{
    max-width: 1920px;
    width: 100vw;
    min-width: 320px;
    height: auto;
    margin: 0 auto;
}

.container--inner{
    max-width: 1440px;
}

/* Header */
.header{
    position: relative;
    width: 100vw;
    height: 6rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #111;
    padding: 1rem 2rem;
}

.navlogo{
    color: #ffaa4c;
    font-size: 20px;
}

.navBar{
    display: none;
}

.fullscreen.navBar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 6rem);
    background-color: #111;
    position: absolute;
    top: 6rem;
    left: 0;
    z-index: 10;
}

.fullscreen.navBar a{
    font-size: 2.2rem;
    letter-spacing: 1.5px;
    color: #fff;
}

.fullscreen.navBar a:hover{
    text-decoration: underline;
    color: #ffaa4c;
}


.hamburger{
    cursor: pointer;
}

.hamburger span{
    display: block;
    margin: 0.5rem;
    width: 3rem;
    height: 0.4rem;
    background-color: #FFAA4C;
}

.navBar--top{
    display: none;
}
/* Header Ends */



/* Landing Page  */

.landing{
    min-height: calc(118vh - 6rem);
    width: 100%;
    position: relative;
}

.landing__block{
    width: 100%;
    height: calc(100vh - 6rem);
    display: grid;
    grid-template-columns: 35% 65%;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 5rem;
}

.landing__block,
.block__img{
    width: 100%;
}

.block__img{
    height: 100%;
    background-image: url('../images/Scenes03.svg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.landing__block h1{
    font-size: 4rem;
    letter-spacing: 0.2rem;
    color: #FFAA4C;
    text-transform: uppercase;
}

.landing__block h3{
    font-size: 2rem;
    letter-spacing: 0.3rem;
    text-transform: uppercase;
}

.landing__cards{
    width: 100%;
    height: 35rem;
    display: grid;
    grid-template-columns: repeat(4, 300px);
    justify-content: center;
    align-items: center;
    background-color: #ffaa4c;
}

.landing__cards .card{
    height: 20rem;
    width: 25rem;
    background-color: #001E6C;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem;
    box-shadow: 0 0 2rem 2px rgba(17, 17, 17, 0.507);
    transition: all 300ms ease;
}

.landing__cards .card:hover{
    background-color: rgb(67, 5, 211);
}

.landing__cards p{
    color: #FFAA4C;
    font-size: 2rem;
    text-shadow: 0 0 2px #111;
    letter-spacing: 2px;
}

.landing__cards .card:hover p {
    color: #fff;
}
/* Landing Page Ends */



/* About Page */
.about{
    margin: 10rem auto;
}

.section__title{
    text-align: center;
    font-size: 3.5rem;
    text-transform: uppercase;
    margin-bottom: 5rem;
}

.about__container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.left{
    padding: 1rem 4rem;
    font-size: 1.6rem;
    line-height: 150%;
    letter-spacing: 1.2px;
}

.btn--work{
    width: 100%;
    margin-top: 5rem;
    padding: 2rem;
    border: none;
    outline: none;
    background-color: #FFAA4C;
    color: #fff;
    letter-spacing: 2.5px;
    font-size: 1.8rem;
    border-radius: 3rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, 
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
    transition: all 200ms ease;
}

.btn--work:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, 
    rgba(0, 0, 0, 0.22) 0px 5px 5px;
    background-color: #ee860f;
    color:rgb(29, 5, 10) ;
}

.right{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;
    padding: 0 5rem;
}

.img_container{
    height: 20rem;
    overflow:hidden;
    margin-top: 20px;
    box-shadow: 0 0 10px 1px #111;
}
/* About Page Ends */


/* News Letter */
.section__newsletter{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffaa4c;
    margin-bottom: 10rem;
    height: 25rem;
}

.newsletter{
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 2px;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}

.newsletter input{
    height: 2rem;
    width: 45rem;
    margin-top: 3rem;
    border: none;
    font-size: 1.6rem;
    padding: 1rem 0;
    border-bottom: 3px solid #001E6C;
    background-color: transparent;
    outline: none;
}

/* News Letter Ends */







/* Contact */

.contact p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
}

.contact__container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.contact__block{
    padding: 10px 20px;
    background-color: #ffaa4c;
}

.contact__block input, textarea  {
    width: 100%;
    border: none;
    outline: none;
    margin: 15px 0;
    background-color: transparent;
    border-bottom: 2px solid #fff;
}

textarea{
    resize: none;
}

.submit{
    width: 100%;
    padding: 5px;
    font-size: 14px;
}

.contact__tabs{
    padding: 20px;
    display: grid;
}

.tab{
    padding: 20px;
    text-align: center;
    font-size: 16px;
    background-color: #001E6C;
    color: #ffaa4c;
    margin: 10px;
    box-shadow: 0 0 10px 1px #111;
}

.tabs__icon, .tabs__icon, .tabs__text{
    padding: 5px;
}

.footer{
    width: 100%;
    text-align: center;
    background-color: #111;
    color: #ffaa4c;
    padding: 10px;
    font-size: 12px;
}


/* Contact Ends */