/* CSS Variables */

:root{
    --bgColor: #fff;
    --bgColorDark: #8ecae6;
    --bgColorDark2: #219ebc;
    --highlightColor: #ffb703;
    --highlightColor2: #fb8500;
    --textColor: #023047;
}

/* CSS Variables Ends */


/* General Styling */
*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}

img{
    max-width: 100%;
}

html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    color: var(--textColor);
    /* overflow-x: hidden; */
}

body{
    font-size: 1.6rem;
}

.container{
    margin: 0 auto;
    max-width: 128rem;
    padding: 0 2rem;
}

/* General Styling Ends */


/* ------------- */
/* Header Styles */

.header{
    width: 100%;
    position: relative;
    z-index: 100;
}

nav{
    width: 100%;
    height: 8rem;
    background-color: var(--textColor);
}

nav .container{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}

.navBar ul{
    display: flex;
    align-items: center;
}

.logo{
    position: relative;
}


.logo a{
    color: var(--highlightColor2);
    text-shadow: 0 0 1px #111;
    font-size: 2.6rem;
    letter-spacing: 2px;
}

.navBar .item{
    display: inline-block;
    font-size: 1.6rem;
    letter-spacing: 1.2px;
    margin: 0 1rem;
    color: var(--highlightColor);
    text-shadow: 0px 1px 1px #111;
    text-transform: uppercase;
    position: relative;
}

.navBar .item:hover{
    color: var(--bgColor);
}

.navBar .item:after{
    content: "";
    background-color: var(--highlightColor);
    width: 0%;
    left: 0;
    bottom: -0.5rem;
    height: 2px;
    position: absolute;
    transition: width 200ms ease-in;
}

.navBar .item:hover:after{
    width: 100%;
}

.item.highlight{
    background-color: var(--highlightColor2);
    color: var(--bgColor);
    padding: 1rem 2.5rem;
    margin-left: 4rem;
    border-radius: 2rem;
    text-shadow: none;
    transition: all 200ms ease-in-out;
}

.navBar .item.highlight:hover{
    color: var(--textColor);
    background-color: var(--highlightColor);
}

.item.highlight:after{
    content: none;
}

.header--content{
    height: calc(100vh - 8rem);
    width: 100%;
    background-color: var(--bgColor);
}

.header--content .container{
    height: 100%;
}

.header--container{
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
}

.text--heading{
    font-size: 4rem;
    padding-bottom: 2rem;
    text-transform: uppercase;
}

.text--para{
    font-size: 1.8rem;
    line-height: 130%;
}

.btn  {
    margin-top: 2rem;
    max-width: 15rem;
    height: 4rem;
    padding: 1rem 3rem;
    font-weight: bold;
    font-size: 1.6rem;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border-radius: 5px;
    z-index: 0;
    background: var(--highlightColor2);
    overflow: hidden;
    border: 2px solid var(--highlightColor2);
    color: var(--textColor);
  }
  .btn:hover {
    color: #fff;
  }
  .btn:hover:after {
    width: 100%;
  }
  .btn:after {
    content: "";
    position: absolute;
    z-index: -1;
    transition: all 0.3s ease;
    left: 0;
    top: 0;
    width: 0;
    height: 100%;
    background: var(--highlightColor);
  }
/* Header Styles Ends*/
/* ----------------- */


/* --------------- */
/* Services Styles */

.section{
    width: 100%;
    min-height: 100vh;
    color: var(--textColor);
    padding: 10rem 0;
    /* background-color: var(--bgColorDark); */
}

.title{
    position: relative;
    text-align: center;
    text-transform: uppercase;
    font-size: 3.5rem;
    letter-spacing: 1.4px;
    line-height: 150%;
    margin-bottom: 2rem;
}

.title::before{
    position: absolute;
    content: attr(data-subtitle);
    font-size: 1.6rem;
    letter-spacing: 2px;
    top: -3rem;
    opacity: 0.4;
    text-transform: uppercase;
    left: 50%;
    transform: translateX(-50%);
}

.services--cards{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;
}

.services--card{
    padding: 2rem 4rem;
    height: 35rem;
    width: 40rem;
    background-color: var(--bgColorDark2);
    margin-right: 4rem;
    border-radius: 4rem;
}

.card--wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card--title{
    text-transform: uppercase;
    letter-spacing: 1.4px;
    margin-bottom: 2rem;
}

.card--icon{
    padding: 2rem 0;
}

.card--icon i{
    font-size: 6rem;
}

.services--card:last-child{
    margin-right: 0px;
}

.card--para{
    font-size: 1.6rem;
    line-height: 130%;
}

.services--card .btn{
    margin-top: 3rem;
}
/* Services Styles Ends*/
/* ------------------- */