<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <svg>
        <defs>
            <marker id="circle1" markerWidth="10" markerHeight="10" refX="5" refY="5" orient="auto">
                <circle cx="5" cy="5" r="5" fill="black" />
            </marker>
        </defs>
        <line x1="50" y1="100" x2="50" y2="50" stroke="black" strokewidth="5" marker-end="url(#circle1)" />
    </svg>
</body>
</html>