<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <svg>
        <!-- Text Fallback -->
        Your browser goes not support SVG image
        <circle cy="50" cx="50" fill="darkgrey" r="30"/>
        <path stroke="forestgreen"/>

        <!-- Fallback with links -->
        <a href="#">Link text</a>

        <rect x="50" y="50" height="100" width="100" stroke="black" fill="blue"
        stroke-width="3" />
    </svg>
</body>
</html>