:root {
    --extra: #7CDF64;
    --text-color-p:#eeeeee;
    --text-color-s:#212121;
    --bg-color-p:#32e0c4;
    --bg-color-s:#0d7377;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 3rem;
    letter-spacing: 0.15rem;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body{
    background-color: var(--text-color-s);
    display: grid;
    justify-content: center;
}

.container {
    max-width: 130rem;
}

/* Top Nav */

.top_header {
    display: flex;
    background-color: var(--text-color-s);
    font-size: 1.3rem;
    padding: 1rem;
    height: 3rem;
    justify-content: space-around;
    align-items: center;
    color: var(--bg-color-p);
}

.top_header p:hover{
    color: tomato;
}

.line{
    height: 0.2rem;
    width: 100%;
    background-color: orange;
    box-shadow: -1px -1px 3px 2px orangered;
}

/* Top Nav Ends */

/* Nav Bar */

.navBar {
    display:flex;
    /* background: var(--bg-color-p); */
}

.navBar img {
    padding: 0.8rem;
}

.navBar ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    align-items: center;
    font-size: 2.2rem;
    text-transform: uppercase;
}

.navBar a {
    padding: 2rem;
    color: var(--bg-color-p);
    font-weight: 600;
}

.navBar a:hover{
    color: var(--text-color-p);
    cursor: pointer;
}

a{
    text-decoration: none;
}

/* Navbar Ends */

.landing {
    height: 60rem;
    background-image: url('../images/Products/landing_page.jpg');
    background-size: cover;
    background-position: center;
    display: grid;
    justify-content: center;
    align-content: center;
    color: var(--text-color-s);
    
}

.landing__content{
    background-color: rgba(255,255,255,0.4);
    padding: 2rem 6rem;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.landing__content span {
    color: var(--bg-color-s);
    font-size: 4rem;
    text-shadow: 2px 2px 3px var(--text-color-s);
    opacity: 1;
}

.landing__content--header{
    font-size: 4rem;
    padding: 1rem 0;
    font-weight: 600;
    
}

.landing__content--sub{
    font-size: 3rem;
}

.landing_btn_container input{
    margin-top: 2rem;
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px 1px var(--text-color-s);
    cursor: pointer;
    background-color: var(--bg-color-p);
    color: var(--text-color-p);
    text-shadow: 1px 1px 1px var(--text-color-s);
}

.landing_btn_container input:hover{
    box-shadow: none;
    color: var(--bg-color-s);
    background-color: var(--text-color-p);

}

/* Products */

.products{
    font-size: 2rem;
    padding: 2rem;
    color: var(--text-color-s);
    background-color: var(--text-color-p);
}

.products_header{
    padding: 7rem 2rem 2rem;
    display: grid;
    grid-template-areas: "header header""text image";
}

.products_header--h1{
    grid-area: header;
    font-size: 4rem;
    font-weight: 600;
}

.products_header--text{
 grid-area: text;
 letter-spacing: 0.1rem;
 line-height: 3rem;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 padding:0 3rem;
}

.products_header--h1{
    padding-bottom: 5rem;
}

.products_btn_container{
    text-align: left;
    padding: 3rem 0;
}

.products_btn_container input{
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px 1px var(--text-color-s);
    cursor: pointer;
    background-color: var(--bg-color-p);
    color: var(--text-color-p);
    text-shadow: 1px 1px 1px var(--text-color-s);
}

.products_btn_container input:hover{
    box-shadow: none;
    color: var(--bg-color-s);
    background-color: var(--text-color-p);

}

.products_hero{
    grid-area: image;
    display: grid;
    justify-content: center;
    align-items: center;
}

.products_hero img {  
    width: 100%;
}

.products_header--h1{
    text-align: center;
}

/* Products */

/* Product Gallery */

.products_gallery{
    height: 75rem;
    widows: 100%;
    padding: 8rem 3rem;
    background-color:var(--text-color-p);
}

.gallery{
    height: 100%;
    display: grid;
    grid-template-areas: "a b c d" "e f g h";
    grid-gap: 2rem;
    
}

/* Card Animation Starts*/

.g_card{
    perspective: 200rem;
    position: relative;
    height: 100%
}

.face{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0.2rem solid var(--text-color-s);
    padding: 1rem;
    font-size: 1.4rem;
    background: var(--bg-color-s);
    justify-content: center;
    transform-style: preserve-3d;
    transition: all 0.6s ease;
    backface-visibility: hidden;
    overflow: hidden; 
}

.img_img{
    height: 100%;
}

.front_face{
    background-color:var(--text-color-p);
    /* Internal Styling */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.back_face{
    padding: 0;
    margin: 0;
    transform: rotateY(180deg);
    background-color: var(--text-color-p);
}

.g_card:hover .front_face {
    transform: rotateY(-180deg);
}

.g_card:hover .back_face{
    transform: rotateY(0);
}

/* Card Animation Ends */

.ff-0, .ff-1, .ff-2, .ff-3, .ff-4, .ff-5, .ff-6, .ff-7{
    background-size: cover;
    background-position: center;
}

 .ff-0{
    background-image: url("../images/Products/c_img_1.jpg");
 }

 .ff-1{
    background-image: url("../images/Products/c_img_2.jpg");
 }
 .ff-2{
    background-image: url("../images/Products/c_img_3.jpg");
 }
 .ff-3{
    background-image: url("../images/Products/c_img_4.jpg");
 }
 .ff-4{
    background-image: url('../images/Products/c_img_5.jpg');
 }
 .ff-5{
    background-image: url("../images/Products/c_img_6.jpg");
 }
 .ff-6{
    background-image: url("../images/Products/c_img_7.jpg");
 }
 .ff-7{
    background-image: url("../images/Products/c_img_8.jpg");
 }

.details_container{
    color: var(--bg-color-p);
    letter-spacing: 0.2rem;
    display: grid;
    text-align: center;
    background-color: var(--text-color-s);
    opacity: 0.7;
}

.back_face .details_container{
    padding: 2rem;
}

.btn_container{
    height: 100%;
    display: grid;
    justify-content: center;
}

.btn{
    margin-top: 1rem;
    color:var(--bg-color-s);
    background-color: var(--text-color-p);
    font-size: 1.5rem;
    padding: 0.5rem 3rem;
}

.d_head{
    text-transform: uppercase;
    font-size: 1.8rem;
    text-align: center;
    margin-bottom: 1rem;
    padding: 1rem 2rem;
}


.cName{
    text-transform: uppercase;
    font-size: 1.8rem;
}

.front_face .cName{
    font-size: 1.5rem;
}

.pName{
    text-transform: uppercase;
    font-size: 2.2rem;
}

.front_face .pName{
    font-size: 1.8rem;
}

.d_para{
    padding: 1.4rem 0;
}

/* Logo slider */

.logo_container {
    position: relative;
}

.logo_slider{
    margin: auto;
    padding: 1rem;
    overflow: hidden;
    background-color: var(--text-color-p);
}

@keyframes autoScroll{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-3500px);
    }
}

.slide-gallery{
    display: flex;
    animation: autoScroll 80s linear infinite;
}

.logo_slider::before,
.logo_slider::after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top:0;
    width: 6rem;
    height: 100%;
    z-index: 20;
    background: linear-gradient(to right,  rgb(238, 238, 238,1) 0%,rgba(255,255,255,0) 100%);
}

.logo{
    padding: 1rem 1.5rem;
}

/* Logo slider Ends*/

/* Services */

.services_header{
    background-color: var(--text-color-p);
    display: grid;
    grid-template-areas: "head head" "left right";
    padding: 5rem 2rem;
    text-align: center;
    position: relative;
}

.services_h1{
    grid-area: head;
    text-align: center;
}

.services_h1::after {
    content: "";
    display: block;
    position: absolute;
    top: 0%;
    right: 50%;
    width: 2rem;
    height: 2rem;
    background-color: var(--text-color-s)
}

.services_left{
    grid-area: left;
    font-size: 1.6rem;
    color: var(--text-color-s);
    padding: 3rem;
    text-align: left;
}

.services_right{
    grid-area: right;
}

.services_text{
    display: grid;
    grid-gap: 2rem;
    font-size: 2rem;
    letter-spacing: 0.15rem;
    line-height: 3rem;
}

.services_right img {
    padding: 3rem;
    width: 100%;
}

.services_h1{
    font-size: 4rem;
    text-align: center;
    padding-bottom: 1rem;
}

/* Services Ends */

/* About */

/* Channels */
.about{
    background-color: var(--text-color-p);
    color: var(--text-color-s);
    padding: 2rem;
}

.channels{
    display: grid;
    grid-template-areas: 
    "main main"
    "channel1 channel2"
    "mission mission";
}

.about_main-p1{
    grid-area: main;
}

.about_main-p1 .p1
{
    font-size: 4rem;
    padding-bottom: 4rem;
    text-align: center;
}

.about_main-p2 .p2,
.about_main-p3 .p3,
.about__mission_heading{
    font-size: 3rem;
    padding-bottom: 3rem;
    text-align: center; 
}

.about_main-p1 p,
.about__mission_para{
    font-size: 2rem;
    padding: 1rem 5rem 5rem;
    line-height: 3rem;
    letter-spacing: 0.15rem;
    /* border-bottom: 0.2rem solid black; */
}

.about_main-p2 ul,
.about_main-p3 ul{
    font-size: 2rem;
    padding: 0rem 5rem 5rem;
    list-style: none;
    line-height: 3rem;
    text-align: left;
}

.about_main-p2{
    grid-area: channel1;
}

.about_main-p3{
    grid-area: channel2;
}

.about_mission{
    grid-area: mission;
}

/* Channels Ends*/

/* Brach Details */

.about_ph-info{
    padding: 2rem;
    font-size: 2rem;
}

.about_Branches h2{
    text-align: center;
    padding-bottom: 2rem;
}

.sw_cards{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
    "heading heading " 
    "b1 b2"
}

.sw_head_info {
    grid-area: heading;
    grid-column: span 12;
    padding: 2rem;
    text-align: center;
}

.sw_cards-left{
    grid-column: 1/ span 6;
    display: grid;
    grid-template-areas: "pic1 pic2";
    grid-gap: 1rem;
    /* margin-top: -5rem; */
}


.sw_card_f{
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all 0.3s ease;
    backface-visibility: hidden;
    border: 2px solid #0d7377;
}

.sw_card-left-p1{
    grid-area: pic1;
    position: relative;
    perspective: 200rem;
}

.left-p1-front{
    transform: rotateY(0deg);
    background-image: url("https://source.unsplash.com/800x803/?nature");
}

.left-p1-back{
    transform: rotateY(180deg);
    background-image: url("https://source.unsplash.com/800x804/?nature");
}

.sw_card-left-p1:hover .left-p1-front{
    transform: rotateY(-180deg);
}

.sw_card-left-p1:hover .left-p1-back{
    transform: rotateY(0deg);
}

.sw_card-left-p2{
    grid-area: pic2;
    position: relative;
    perspective: 200rem;
}

.left-p2-front{
    transform: rotateY(0deg);
    background-image: url("https://source.unsplash.com/800x801/?nature");
}

.left-p2-back{
    transform: rotateY(180deg);
    background-image: url("https://source.unsplash.com/800x802/?nature");
}

.sw_card-left-p2:hover .left-p2-front{
    transform: rotateY(-180deg);
}

.sw_card-left-p2:hover .left-p2-back{
    transform: rotateY(0deg);
}

.sw_cards-right{
    grid-area: b2;
    grid-column: 7/ span 6;
    padding: 2rem;
    position: relative;
}
.sw_cards-right ul{
    padding: 1rem;
    line-height: 3rem;
    letter-spacing: 0.15rem;
}

.sw_cards-right::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translate(0, -50%);
    height: 70%;
    width: 0.5rem;
    background-color: var(--extra)
}

.sw_cards li {
    list-style: none
}

.about_pharmacy{
    text-align: center;
    padding: 3rem 0;
}

.about_pharmacy h2 {
    padding: 3rem;
}

.ph__cards{
    display: grid;
    grid-gap: 2rem;
    grid-template-areas: "a b c d e f";
}

.ph__card{
    position: relative;
    border: 1px solid var(--extra);
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    transition: all 3s ease-in;
    backface-visibility: hidden;
}

.abt-back {
    position: absolute;
    top:0%;
    left:0%;
    /* background-color: var(--bg-color-p); */
    transition: all 1s ease-in;
    opacity: 0;
}

.ph__card:hover .abt-back{
    transform: translateY(150px);
    opacity: 1;
}

.ph__card:hover h3 {
    transition: all 1s ease-in;
}


.ph__card:hover h3{
    font-size: 1.5rem;
}

/* Branch Details Ends */

/* About Ends */

/* Media Icons */
.smedia_bar{
    display: flex;
    padding: 2rem;
    justify-content: center;
}

i{
    font-size: 3rem;
    color: var(--text-color-p);
    padding: 0.5rem 1rem;
}

i:hover{
    color: var(--bg-color-p);
}

/* Media Icons Ends */

/* Footer */
.end_footer{
    background-color: var(--text-color-s);
    color: var(--text-color-p);
    font-size: 1.4rem;
    padding: 1rem;
}

.footer_content{
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.footer_content a {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--extra);
}

/* Footer Ends */


/* @media only screen and (min-width:1400px) {
    .container{
        border: 0.2rem solid var(--text-color-s);
    }
} */