:root {
    --extra: #ff4b5c;
    --text-color-p: #40493B;
    --text-color-s: #e0ece4;
    --bg-color-p: #66bfbf;
    --bg-color-s: #056674;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 3rem;
    letter-spacing: 0.15rem;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    display: grid;
    justify-content: center;
}

.c_icon,
.c_btn {
    display: none;
}


.landing_container {
    display: grid;
    width: 99vw;
    height: 90vh;
    margin: auto;
    /* background-image: url('../images/Products/landing_hero.jpg'); */
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    max-width: 130rem;
    margin: auto;
}

/* --------------------------- Top Nav -------------------------- */

.top_header {
    display: flex;
    background-color: var(--bg-color-s);
    font-size: 1.2rem;
    padding: 0.5rem;
    height: 3rem;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color-s);
}

.top_header div {
    justify-self: center;
    transition: all 0.3s ease-out;
}

.top_header span {
    font-weight: 600;
}

.top_header div:hover {
    color: tomato;
    transform: scale(1.1);
}

/* ------------------------Top Nav Ends---------------------- */

/* ---------------------------Nav Bar------------------------ */

.navBar {
    position: absolute;
    top: 3rem;
    left: 0;
    display: flex;
    padding-top: 1rem;
    justify-content: center;
}

.navBar img {
    padding: 0.5rem;
}

.navBar ul {
    display: grid;
    grid-template-columns: 60px repeat(5, 1fr);
    grid-gap: 2rem;
    align-items: center;
    list-style: none;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    justify-content: space-around;
}

.navBar a {
    color: var(--text-color-s);
    text-decoration: none;
    transition: all 0.2s ease;
    position: relative;
    padding: 0.5rem;
}

.navBar a::before {
    content: "";
    position: absolute;
    display: block;
    width: 20%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--extra);
    transition: all 0.3s ease;
}

.navBar a::after {
    content: "";
    position: absolute;
    display: block;
    width: 20%;
    height: 3px;
    top: 0;
    right: 0;
    background-color: var(--extra);
    transition: all 0.3s ease;
}

.navBar a:hover {
    color: var(--extra);
    cursor: pointer;
}

.nav--item:hover a::before,
.nav--item:hover a::after {
    width: 100%;
    height: 3px;
}

/* Navbar Ends */

.landing {
    height: 90vh;
    background: url('../images/Products/landing_page.jpg');
    background-size: cover;
    background-position: top;
    display: grid;
    justify-content: center;
    align-content: center;
    color: var(--text-color-s);
    text-shadow: 1px 1px 1px black;
}

.landing__content {
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    /* background-color: rgba(1,1,1,0.1); */
    border-radius: 1rem;
}

.landing__content span {
    color: var(--extra);
    font-size: 4.5rem;
    opacity: 1;
}

.landing__content--header {
    font-size: 4rem;
    padding: 1rem 0;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: 0.4rem;
}

.landing__content--sub {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.landing__content--btn {
    position: relative;
}

.btn-1 {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border: 5px solid var(--text-color-p);
    border-radius: 5rem;
    color: var(--text-color-s);
    cursor: pointer;
    outline: none;
    background: var(--text-color-p);
    transition: all 0.3s ease;
}

.landing__content--btn:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--extra);
    transition: all 0.3s ease;
}

.landing__content--btn:after {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 3px;
    background-color: var(--extra);
    transition: all 0.3s ease;
}

.landing__content--btn:hover:after,
.landing__content--btn:hover:before {
    width: 100%;
    opacity: 0
}

.landing__content--btn:hover .btn-1 {
    border: 5px solid var(--extra);
}

/* .btn-1 {
    padding: 1rem 2rem;
    background: -webkit-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
    background: linear-gradient(to right, #a2ccb6 0%, #fceeb5 50%, #ee786e 100%);
    background-size: 500%;
    border: 1px solid var(--text-color-p);
    border-radius: 5rem;
    color:var(--text-color-p);
    cursor: pointer;
    outline: none;
}

.btn-1:hover {
    animation: gradient 1s forwards;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    100% {
      background-position: 100%;
    } */

/* Products */

.products__container {
    font-size: 2rem;
    padding: 5rem 2rem;
    color: var(--text-color-p);
    height: 100vh;
}

.products__container--section {
    padding-top: 5rem;
}

.section__header {
    padding: 2rem 2rem;
    display: grid;
    grid-template-areas: "header header""text image";
}

.section__header--h1 {
    grid-area: header;
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 5rem;
}


.section__header--text {
    grid-area: text;
    padding: 0 1rem;
    font-size: 1.8rem;
}

.section__header--text p {
    margin-bottom: 2.5rem;
    padding-right: 1rem;
}

.products_header--h1 {
    padding-bottom: 5rem;
}

.products_btn_container {
    text-align: left;
    padding: 3rem 0;
}

.products_btn_container input {
    padding: 1rem;
    font-size: 1.6rem;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px 1px var(--text-color-s);
    cursor: pointer;
    background-color: var(--bg-color-p);
    color: var(--text-color-p);
    text-shadow: 1px 1px 1px var(--text-color-s);
}

.products_btn_container input:hover {
    box-shadow: none;
    color: var(--bg-color-s);
    background-color: var(--text-color-p);

}

.image__container{
    grid-area: image;
    margin-top: 1rem;
}

.products__hero {
    width: 600px;
    height: 400px;
    position: relative;
  }
  
  .products__hero img {
      width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform-origin: left;
            transform-origin: left;
  }
  
  .img-1 {
    -webkit-clip-path: polygon(0 0, 0 32%, 28% 0);
            clip-path: polygon(0 0, 0 32%, 28% 0);
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  .products__hero:hover .img-1 {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  
  .img-2 {
    -webkit-clip-path: polygon(28% 0, 0 32%, 0 100%, 17% 100%, 90% 0);
            clip-path: polygon(28% 0, 0 32%, 0 100%, 17% 100%, 90% 0);
    -webkit-transform: translate(30px, 5px);
            transform: translate(30px, 5px);
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
  }
  .products__hero:hover .img-2 {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  
  .img-3 {
    -webkit-clip-path: polygon(100% 0, 100% 65%, 74% 100%, 17% 100%, 90% 0);
            clip-path: polygon(100% 0, 100% 65%, 74% 100%, 17% 100%, 90% 0);
    -webkit-transform: translate(10px, 10px);
            transform: translate(10px, 10px);
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
  }
  .products__hero:hover .img-3 {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  
  .img-4 {
    -webkit-clip-path: polygon(100% 65%, 74% 100%, 100% 100%);
            clip-path: polygon(100% 65%, 74% 100%, 100% 100%);
    -webkit-transform: translate(30px, 5px);
            transform: translate(30px, 5px);
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    -webkit-transform-origin: top;
            transform-origin: top;
  }
  .products__hero:hover .img-4 {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
  

/* Products */














/* ------------------Media Queries-------------------- */

@media only screen and (max-width:1000px) {
    .top_header {
        font-size: 1rem;
    }
}

@media only screen and (max-width:860px) {

    .top_header {
        font-size: 1rem;
    }

    .top_header .fax {
        display: none;
    }

    .navBar {
        grid-template-columns: 50px 1fr;
    }

    .navBar img {
        padding: 0.5rem;
        width: 100%;
    }

    .navBar ul {
        font-size: 1.7rem;
        grid-gap: 1.5rem;
    }

    .landing__content--header {
        font-size: 3rem;
        line-height: 2rem;
    }

    .landing__content--header span {
        font-size: 3.2rem;
    }

    .landing__content--sub {
        font-size: 2.4rem;
        margin-bottom: 3rem;
    }

    .btn-1 {
        font-size: 1.4rem;
        padding: 0.5rem 1rem;
    }
}

@media only screen and (max-width:660px) {
    .top_header {
        display: flex;

        /* display: grid;
        grid-template-columns: repeat(3,1fr); */
        font-size: 1rem
    }

    .top_header .fax {
        display: none;
    }

    .navBar ul {
        font-size: 1.5rem;
        grid-gap: 0.4rem;
    }

    .landing__content--header {
        font-size: 2.3rem;
        line-height: 2rem;
    }

    .landing__content--header span {
        font-size: 2.4rem;
    }

    .landing__content--sub {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    .btn-1 {
        font-size: 1.4rem;
        padding: 0.5rem 1rem;
    }

}

@media only screen and (max-width:560px) {
    .top_header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 1rem;
    }

    .top_header .fax,
    .top_header .wapp {
        display: none;
    }

    .landing__container {
        position: relative;
    }

    .landing__content--btn:after,
    .landing__content--btn:before,
    .navBar a::after,
    .navBar a::before {
        display: none;
    }

    .main_logo,
    .navBar {
        z-index: 10;
    }

    .navBar img {
        width: 100%;
    }

    ul.nav {
        background-color: green;
        height: 100vh;
        width: 15rem;
        position: absolute;
        top: 0;
        left: 4px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 10px repeat(5, max-content);
        /* justify-content: space-around; */
        transition: translateX 0.2s ease;
        z-index: 100;
    }

    .nav li {
        padding: 1.5rem 0.5rem;
    }

    .c_icon {
        display: block;
    }

    .fa-bars {
        position: absolute;
        background-color: black;
        padding: 1rem;
        color: white;
        font-size: 2.5rem;
        top: 1rem;
        left: 3rem;
        z-index: -2;
    }

    .fa-times {
        position: absolute;
        top: 0rem;
        left: 15rem;
        background-color: black;
        padding: 0.5rem 1rem;
        color: white;
        font-size: 1.5rem;
    }

    .c_btn:checked+ul.nav {
        transform: translateX(-200px);
    }

    .landing__content--header {
        font-size: 2.3rem;
        line-height: 2rem;
    }

    .landing__content--header span {
        font-size: 2.4rem;
    }

    .landing__content--sub {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    .btn-1 {
        font-size: 1.4rem;
        padding: 0.5rem 1rem;
    }
}

@media only screen and (max-width:450px) {
    .top_header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        font-size: 1.1rem;
    }

    .top_header .fax,
    .top_header .wapp {
        display: none;
    }

}

@media only screen and (max-width:400px) {
    .top_header {
        display: none;
    }

    .fa-bars {
        padding: 1rem;
        font-size: 2rem;
        top: -1.5rem;
        left: 1rem;
        z-index: -2;
    }

    ul.nav {
        width: 15rem;
        position: absolute;
        top: -3rem;
        left: 2px;
    }
}