:root {
    --extra: #ff4b5c;
    --text-color-p: #40493B;
    --text-color-s: #e0ece4;
    --bg-color-p: #66bfbf;
    --bg-color-s: #056674;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 3rem;
    letter-spacing: 0.15rem;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    max-width: 110rem;
    margin: 0 auto;
}

.c_icon,
.c_btn {
    display: none;
}

.landing_container {
    display: grid;
    height: 100vh;
    margin-bottom: 3rem;
}


/* --------------------------- Top Nav -------------------------- */

.top_header {
    display: flex;
    background-color: var(--bg-color-s);
    font-size: 1.2rem;
    padding: 0.5rem;
    height: 3rem;
    justify-content: space-around;
    align-items: center;
    color: var(--text-color-s);
}

.top_header div {
    justify-self: center;
    transition: all 0.3s ease-out;
}

.top_header span {
    font-weight: 600;
}

.top_header div:hover {
    color: tomato;
    transform: scale(1.1);
}

/* ------------------------Top Nav Ends---------------------- */

/* ---------------------------Nav Bar------------------------ */

.navBar {
    position: absolute;
    top: 3rem;
    left: 0;
    display: flex;
    padding-top: 1rem;
    justify-content: center;
}

.navBar img {
    padding: 0.5rem;
}

.navBar ul {
    display: grid;
    grid-template-columns: 60px repeat(5, 1fr);
    grid-gap: 2rem;
    align-items: center;
    list-style: none;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    justify-content: space-around;
}

.navBar a {
    color: var(--text-color-s);
    text-decoration: none;
    transition: all 0.2s ease;
    position: relative;
    padding: 0.5rem;
}

.navBar a::before {
    content: "";
    position: absolute;
    display: block;
    width: 20%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--extra);
    transition: all 0.3s ease;
}

.navBar a::after {
    content: "";
    position: absolute;
    display: block;
    width: 20%;
    height: 3px;
    top: 0;
    right: 0;
    background-color: var(--extra);
    transition: all 0.3s ease;
}

.navBar a:hover {
    color: var(--extra);
    cursor: pointer;
}

.nav--item:hover a::before,
.nav--item:hover a::after {
    width: 100%;
    height: 3px;
}

/* ----------------------Navbar Ends----------------------- */

.landing {
    height: 100vh;
    background: url('../images/Products/landing_page.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    display: grid;
    justify-content: center;
    align-content: center;
    color: var(--text-color-s);
    text-shadow: 1px 1px 1px black;
}

.landing__content {
    padding: 3rem 6rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 1rem;
}

.landing__content span {
    color: var(--extra);
    font-size: 4.5rem;
    opacity: 1;
}

.landing__content--header {
    font-size: 4rem;
    padding: 1rem 0;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: 0.4rem;
}

.landing__content--sub {
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    margin-bottom: 5rem;
}

.landing__content--btn {
    position: relative;
}

.btn-1 {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border: 5px solid var(--text-color-p);
    border-radius: 5rem;
    color: var(--text-color-s);
    cursor: pointer;
    outline: none;
    background: var(--text-color-p);
    transition: all 0.3s ease;
}

.landing__content--btn:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--extra);
    transition: all 0.3s ease;
}

.landing__content--btn:after {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 3px;
    background-color: var(--extra);
    transition: all 0.3s ease;
}

.landing__content--btn:hover:after,
.landing__content--btn:hover:before {
    width: 100%;
    opacity: 0
}

.landing__content--btn:hover .btn-1 {
    border: 5px solid var(--extra);
}

/*----------------------- About--------------------- */

.about__container {
    font-size: 2rem;
    color: var(--text-color-p);
    min-height: max-content;
    background-color: rgba(1, 1, 1, 0.2);
    padding: 1rem 2rem;
}

.about__container--box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.about__container--left {
    display: grid;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slide__prev {
    display: flex;
    flex-direction: column;
    list-style: none;
}

.slide__prev--2{
    display: flex;
    list-style: none;
}

.slide__prev a,
.slide__prev--2 a {
    display: block;
    text-align: end;
  }

.slide__prev img {
    width: 20%;
}

.slide__prev--2 img{
    width: 100%;
}

.slides {
    list-style: none;
    overflow: hidden;
    margin: auto 0;
}

.slides li {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    z-index: 1;
}

.slides li img {
    width: 80%;
}

.slides li:target{
    animation: display 0.5s linear ;
}

.slides li:not(:target) {
    display: none;
}

@keyframes display {
    0% {
      transform: translateY(-100%);
      opacity: 0;
    }

    90%{
        opacity: 0.4;
    }

    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }


.image__container:after {
    content: " ";
    position: absolute;
    height: 80%;
    width: 0.5rem;
    background-color: var(--bg-color-p);
}

.right {
    padding: 0 1rem;
}

.section__header--h2 {
    margin: 7rem 0;
}

.section__header--h2 h2 {
    font-size: 4rem;
    padding: 2rem;
    text-align: center;
    position: relative;
}

.section__header--h2 h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 10%;
    height: 0.5rem;
    bottom: 0;
    left: 50%;
    background-color: var(--extra);
    transition: all 0.3s ease;
}

.section__header--h2 h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 10%;
    height: 0.5rem;
    top: 0;
    right: 50%;
    background-color: var(--extra);
    transition: all 0.3s ease;
}

.section__header--h2:hover h2::after {
    right: 40%;
}

.section__header--h2:hover h2::before {
    left: 40%;
}

.section__header--h2:hover h2 span {
    color: var(--extra);
}

.section__header--text {
    grid-area: text;
    padding: 0 1rem;
    font-size: 1.6rem;
}

.section__header--text p {
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.about_header--h1 {
    padding-bottom: 3rem;
}

.about__btn--container {
    position: relative;
    text-align: center;
}

.btn-2 {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border: 5px solid var(--text-color-p);
    border-radius: 5rem;
    color: var(--text-color-s);
    cursor: pointer;
    outline: none;
    background: var(--text-color-p);
    transition: all 0.3s ease;
}

.about__btn--container:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--extra);
    transition: all 0.3s ease;
}

.about__btn--container:after {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 3px;
    background-color: var(--extra);
    transition: all 0.3s ease;
}

.about__btn--container:hover:after,
.about__btn--container:hover:before {
    width: 100%;
    opacity: 0
}

.about__btn--container:hover .btn-2 {
    border: 5px solid var(--extra);
}

/* Channels */

.about__container--other{
    padding: 7rem 2rem;
}

.channels {
    display: flex;
    flex-direction: column;
}

.other__main--p1 {
    grid-area: main;
}


.other__main--p1 .p1,
.other__main--p2 .p2,
.about__mission_heading {
    font-size: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

.other__mission--para {
    font-size: 2rem;
    padding: 1rem 5rem 5rem;
    line-height: 3rem;
    letter-spacing: 0.15rem;
    /* border-bottom: 0.2rem solid black; */
}

.other__main--p1 ul,
.other__main--p2 ul {
    font-size: 2rem;
    padding: 0rem 5rem 5rem;
    list-style: none;
    line-height: 3rem;
    text-align: left;
}


/* Channels Ends*/

/* --------------------About----------------------- */

/* --------------------About Highlights----------------------- */

.about__highlight {
    display: flex;
    justify-content: center;
    padding: 5rem 2rem 1rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    grid-gap: 3rem;
    justify-content: space-around;
    position: relative;
}

.card {
    list-style: none;
    position: relative;
    border-radius: 1rem;
    padding: 1rem;
    transition: all 0.2s ease;
    height: max-content;
    height: 25rem;
}

.card__top {
    border-radius: 1rem;
    padding: 1rem;
    background: var(--text-color-p);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.2s linear;
    text-align: center;
    width: 100%;
    border: 0.5rem solid var(--text-color-s);
    height: 20rem;
    transform: translateY(5rem);
}

.card__top i {
    font-size: 5rem;
    color: var(--text-color-s);
    margin: 1rem auto 0;
}

.cards:hover .card__top i {
    color: #d716e9;
}

.card:hover .card__top {
    transform: translateY(0rem);
}

.card:hover .card__bottom {
    transform: translateY(14rem);
}

.cards:hover>.card:not(:hover) .card__top {
    filter: blur(20px);
    background-image: linear-gradient(to left top, #d716e9, #6a7eff, #00aaff, #00c5ff, #12d8eb);
}

.card__bottom {
    position: absolute;
    top: 5rem;
    left: 5%;
    border-radius: 1rem;
    padding: 1rem;
    width: 90%;
    display: grid;
    justify-content: center;
    align-items: center;
    text-shadow: 1px 1px 1px black;
    background-color: #00aaff;
    z-index: -2;
    height: 15rem;
    transition: all 0.3s ease;
}

.card__para {
    font-size: 1.3rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--text-color-s);
    text-transform: uppercase;
}

.card__heading {
    color: var(--text-color-s);
    padding: 1rem;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    text-transform: uppercase;
}


/* --------------------About Highlights----------------------- */

/* --------------------Gallery------------------------- */

/* -----------------Product Gallery-------------------- */

.products__header--h2 {
    margin: 7rem 0;
}

.products__header--h2 h2 {
    font-size: 4rem;
    padding: 2rem;
    text-align: center;
    position: relative;
}

.products__header--h2 h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 10%;
    height: 0.5rem;
    bottom: 0;
    left: 50%;
    background-color: var(--extra);
    transition: all 0.3s ease;
}

.products__header--h2 h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 10%;
    height: 0.5rem;
    top: 0;
    right: 50%;
    background-color: var(--extra);
    transition: all 0.3s ease;
}

.products__header--h2:hover h2::after {
    right: 40%;
}

.products__header--h2:hover h2::before {
    left: 40%;
}

.products__header--h2:hover h2 span {
    color: var(--extra);
}

.content-wrapper {
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0.5rem;
  }
  
  .news-card {
    border: 0px solid aqua;
    margin: 0.5rem;
    position: relative;
    height: 12rem;
    overflow: hidden;
    border-radius: 0.5rem;
    flex: 1;
    min-width: 290px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
  }
  
  @media (min-width: 900px) {
  
  .news-card {
      height: 20rem
  }
    }
  
  .news-card::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);;
        z-index: 0;
      }
  
  .news-card__card-link {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
  
  .news-card__image {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
      transition: transform 3s ease;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      position: relative;
      z-index: -1;
    }
  
  .news-card__text-wrapper {
      position: absolute;
      bottom: 0rem;
      padding: 1rem;
      color: white;
      transition: background-color 1.5s ease;
    }
  
  .news-card__title {
      transition: color 1s ease;
      margin-bottom: .5rem;
    }
  
  .news-card__post-date {
      font-size: .7rem;
      margin-bottom: .5rem;
      color: #CCC;
    }
  
  .news-card__details-wrapper {
      max-height: 0;
      opacity: 0;
      transition: max-height 1.5s ease, opacity 1s ease;
    }
  
  @media (min-width: 900px) {
      .news-card:hover .news-card__details-wrapper {
        max-height: 20rem;
        opacity: 1;
      }
      .news-card:hover .news-card__text-wrapper {
        background-color: rgba(0, 0, 0, 0.6);
      }
      .news-card:hover .news-card__title {
        color: yellow;
      }
      .news-card:hover .news-card__image {
        transform: scale(1.2);
        z-index: -1;
      }
    }
  
  .news-card__excerpt {
      font-weight: 300;
    }
  
  .news-card__read-more {
      background: black;
      color: #bbb;
      display: block;
      padding: 0.4rem 0.6rem;
      border-radius: 0.3rem;
      margin-top: 1rem;
      border: 1px solid #444;
      font-size: 0.8rem;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      text-decoration: none;
      width: 7rem;
      margin-left: auto;
      position: relative;
      z-index: 5;
    }
  
  .news-card__read-more i {
        position: relative;
        left: 0.2rem;
        color: #888;
        transition: left 0.5s ease, color 0.6s ease;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }
  
  .news-card__read-more:hover i {
        left: 0.5rem;
        color: yellow;
      }
  

/*  */

/* Logo slider */

.logo_container {
    position: relative;
    overflow: hidden;
    height: 15vh;
}

.logo_slider {
    margin: auto;
    padding: 1rem;
    overflow: hidden;
    background-color: white;
}

@keyframes autoScroll {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-3500px);
    }
}

.slide-gallery {
    display: flex;
    animation: autoScroll 50s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_slider::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 8rem;
    height: 100%;
    z-index: 20;
    background: linear-gradient(to right, rgb(238, 238, 238, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.logo_slider::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8rem;
    height: 100%;
    z-index: 20;
    background: linear-gradient(to left, rgb(238, 238, 238, 1) 0%, rgba(255, 255, 255, 0) 100%);
}


.logo {
    padding: 0.5rem 2rem;
}

/* Logo slider Ends*/


/* Services */

.services_header {
    display: grid;
    grid-template-areas: "head head""left right";
    padding: 7rem 3rem;
    text-align: center;
    position: relative;
}

.services_h2 {
    grid-area: head;
    text-align: center;
    position: relative;
}

.services_h2 h2 {
    font-size: 4rem;
    padding: 2rem;
}

.services_h2 h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 10%;
    height: 0.5rem;
    bottom: 0;
    left: 50%;
    background-color: var(--extra);
    transition: all 0.3s ease;
}

.services_h2 h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 10%;
    height: 0.5rem;
    top: 0;
    right: 50%;
    background-color: var(--extra);
    transition: all 0.3s ease;
}

.services_h2:hover h2::after {
    right: 40%;
}

.services_h2:hover h2::before {
    left: 40%;
}

.services_h2:hover h2 span {
    color: var(--extra);
}

.services_left {
    grid-area: left;
    font-size: 1.6rem;
    color: var(--text-color-p);
    padding: 3rem;
    text-align: left;
}

.services_right {
    grid-area: right;
}

.services_text {
    display: grid;
    grid-gap: 2rem;
    font-size: 2rem;
    letter-spacing: 0.15rem;
    line-height: 3rem;
}

.services_right img {
    padding: 3rem;
    width: 100%;
}

/* Services Ends */

/* About */

/* Brach Details */

.about_ph-info {
    padding: 2rem;
    font-size: 2rem;
}

.about_Branches h2 {
    text-align: center;
    padding-bottom: 2rem;
}

.sw_cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        "heading heading "
        "b1 b2"
}

.sw_head_info {
    grid-area: heading;
    grid-column: span 12;
    padding: 2rem;
    text-align: center;
}

.sw_cards-left {
    grid-column: 1/ span 6;
    display: grid;
    grid-template-areas: "pic1 pic2";
    grid-gap: 1rem;
    /* margin-top: -5rem; */
}


.sw_card_f {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    transition: all 0.3s ease;
    backface-visibility: hidden;
    border: 2px solid #0d7377;
}

.sw_card-left-p1 {
    grid-area: pic1;
    position: relative;
    perspective: 200rem;
}

.left-p1-front {
    transform: rotateY(0deg);
    background-image: url("https://source.unsplash.com/800x803/?nature");
}

.left-p1-back {
    transform: rotateY(180deg);
    background-image: url("https://source.unsplash.com/800x804/?nature");
}

.sw_card-left-p1:hover .left-p1-front {
    transform: rotateY(-180deg);
}

.sw_card-left-p1:hover .left-p1-back {
    transform: rotateY(0deg);
}

.sw_card-left-p2 {
    grid-area: pic2;
    position: relative;
    perspective: 200rem;
}

.left-p2-front {
    transform: rotateY(0deg);
    background-image: url("https://source.unsplash.com/800x801/?nature");
}

.left-p2-back {
    transform: rotateY(180deg);
    background-image: url("https://source.unsplash.com/800x802/?nature");
}

.sw_card-left-p2:hover .left-p2-front {
    transform: rotateY(-180deg);
}

.sw_card-left-p2:hover .left-p2-back {
    transform: rotateY(0deg);
}

.sw_cards-right {
    grid-area: b2;
    grid-column: 7/ span 6;
    padding: 2rem;
    position: relative;
}

.sw_cards-right ul {
    padding: 1rem;
    line-height: 3rem;
    letter-spacing: 0.15rem;
}

.sw_cards-right::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 2%;
    transform: translate(0, -50%);
    height: 70%;
    width: 0.5rem;
    background-color: var(--extra)
}

.sw_cards li {
    list-style: none
}

.about_pharmacy {
    text-align: center;
    padding: 3rem 0;
}

.about_pharmacy h2 {
    padding: 3rem;
}

.ph__cards {
    display: grid;
    grid-gap: 2rem;
    grid-template-areas: "a b c d e f";
}

.ph__card {
    position: relative;
    border: 1px solid var(--extra);
    padding: 1rem;
    display: grid;
    grid-gap: 1rem;
    transition: all 3s ease-in;
    backface-visibility: hidden;
}

.abt-back {
    position: absolute;
    top: 0%;
    left: 0%;
    /* background-color: var(--bg-color-p); */
    transition: all 1s ease-in;
    opacity: 0;
}

.ph__card:hover .abt-back {
    transform: translateY(150px);
    opacity: 1;
}

.ph__card:hover h3 {
    transition: all 1s ease-in;
}


.ph__card:hover h3 {
    font-size: 1.5rem;
}

/* Branch Details Ends */

/* ----------------------- */


#portfolio {
    width: 100%;
    min-height: 100vh;
    background: #ffffff;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, minmax(200px, 1fr));
    grid-template-rows: 1fr 1fr;
    grid-gap: 2px;
}

.project {
    position: relative;
    background: #F2DAD7;
    overflow: hidden;
}

.project img {
    position: absolute;
    opacity: 0.9;
}

.project p {
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 1em 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    z-index: 3;
}

.project .grid__title {
    position: absolute;
    width: 100%;
    text-align: center;
    white-space: nowrap;
    bottom: 0;
    font-weight: 100;
    font-size: 0.8em;
    z-index: 3;
    text-transform: uppercase;
    color: #474545;
    letter-spacing: 2px;
}

.project:hover .grid__overlay {
    transform: translateY(0%);
}

.grid__overlay {
    background: rgba(229, 182, 177, 0.9);
    height: 100%;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    position: relative;
    display: grid;
    justify-items: center;
    align-items: center;
    transform: translateY(101%);
    transition: all 0.3s ease-in-out;
}

.grid__overlay button {
    background: none;
    outline: none;
    font-weight: 100;
    letter-spacing: 2px;
    border: 1px solid #ffffff;
    color: #ffffff;
    text-transform: uppercase;
    padding: 10px;
}

.grid__overlay button:hover {
    transition: all 0.3s ease-in-out;
    background: #ffffff;
    color: #D1A39E;
    transform: scale(1.05);
}

.overlay {
    position: fixed;
    background: rgba(71, 69, 69, 0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    z-index: 3;
}

.overlay.open {
    display: grid;
    align-items: center;
    justify-items: center;
}

.overlay__inner {
    background: #ffffff;
    width: 700px;
    padding: 20px;
    position: relative;
    opacity: 1;
}

.close {
    position: absolute;
    top: 3px;
    right: 10px;
    background: none;
    outline: 0;
    color: #474545;
    border: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.close:hover {
    color: #D1A39E;
}

.project__image {
    margin-left: -50%;
}

/* ------------------------ */

/* About Ends */






/* ------------------Media Queries-------------------- */

@media only screen and (max-width:1000px) {
    .top_header {
        font-size: 1rem;
    }
}

@media only screen and (max-width:860px) {

    .top_header {
        font-size: 1rem;
    }

    .top_header .fax {
        display: none;
    }

    .navBar {
        grid-template-columns: 50px 1fr;
    }

    .navBar img {
        padding: 0.5rem;
        width: 100%;
    }

    .navBar ul {
        font-size: 1.7rem;
        grid-gap: 1.5rem;
    }

    .landing__content--header {
        font-size: 3rem;
        line-height: 2rem;
    }

    .landing__content--header span {
        font-size: 3.2rem;
    }

    .landing__content--sub {
        font-size: 2.4rem;
        margin-bottom: 3rem;
    }

    .btn-1 {
        font-size: 1.4rem;
        padding: 0.5rem 1rem;
    }
}

@media only screen and (max-width:660px) {
    .top_header {
        display: flex;

        /* display: grid;
        grid-template-columns: repeat(3,1fr); */
        font-size: 1rem
    }

    .top_header .fax {
        display: none;
    }

    .navBar ul {
        font-size: 1.5rem;
        grid-gap: 0.4rem;
    }

    .landing__content--header {
        font-size: 2.3rem;
        line-height: 2rem;
    }

    .landing__content--header span {
        font-size: 2.4rem;
    }

    .landing__content--sub {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    .btn-1 {
        font-size: 1.4rem;
        padding: 0.5rem 1rem;
    }

}

@media only screen and (max-width:560px) {
    .top_header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 1rem;
    }

    .top_header .fax,
    .top_header .wapp {
        display: none;
    }

    .landing__container {
        position: relative;
    }

    .landing__content--btn:after,
    .landing__content--btn:before,
    .navBar a::after,
    .navBar a::before {
        display: none;
    }

    .main_logo,
    .navBar {
        z-index: 10;
    }

    .navBar img {
        width: 100%;
    }

    ul.nav {
        background-color: green;
        height: 100vh;
        width: 15rem;
        position: absolute;
        top: 0;
        left: 4px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 10px repeat(5, max-content);
        /* justify-content: space-around; */
        transition: translateX 0.2s ease;
        z-index: 100;
    }

    .nav li {
        padding: 1.5rem 0.5rem;
    }

    .c_icon {
        display: block;
    }

    .fa-bars {
        position: absolute;
        background-color: black;
        padding: 1rem;
        color: white;
        font-size: 2.5rem;
        top: 1rem;
        left: 3rem;
        z-index: -2;
    }

    .fa-times {
        position: absolute;
        top: 0rem;
        left: 15rem;
        background-color: black;
        padding: 0.5rem 1rem;
        color: white;
        font-size: 1.5rem;
    }

    .c_btn:checked+ul.nav {
        transform: translateX(-200px);
    }

    .landing__content--header {
        font-size: 2.3rem;
        line-height: 2rem;
    }

    .landing__content--header span {
        font-size: 2.4rem;
    }

    .landing__content--sub {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    .btn-1 {
        font-size: 1.4rem;
        padding: 0.5rem 1rem;
    }
}

@media only screen and (max-width:450px) {
    .top_header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: space-between;
        font-size: 1.1rem;
    }

    .top_header .fax,
    .top_header .wapp {
        display: none;
    }

}

@media only screen and (max-width:400px) {
    .top_header {
        display: none;
    }

    .fa-bars {
        padding: 1rem;
        font-size: 2rem;
        top: -1.5rem;
        left: 1rem;
        z-index: -2;
    }

    ul.nav {
        width: 15rem;
        position: absolute;
        top: -3rem;
        left: 2px;
    }
}