<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Navbar</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <nav class="navbar">
        <div class="logo">Kiran</div>
        <ul>
            <li><a data-page="home" href="#">Home</a></li>
            <li><a data-page="products" href="#">Products</a></li>
            <li><a data-page="contact" href="#">Contact</a></li>
        </ul>
        <div class="navbg"></div>
    </nav>
    <div class="container">
        <section data-index="0" class="home">
            <h2>Home</h2>
        </section>
        <section data-index="1" class="products">
            <h2>Products</h2>
        </section>
        <section data-index="2" class="contact">
            <h2>Contact</h2>
        </section>
    </div>

    <script src="./main.js"></script>
</body>

</html>