<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="slider">
        <div class="gallery">
            <div class="logo">
                <img src="https://source.unsplash.com/300x100/?mobile" alt="">
            </div>
            <div class="logo">
                <img src="https://source.unsplash.com/300x101/?mobile"  alt="">
            </div>
            <div class="logo">
                <img src="https://source.unsplash.com/300x102/?mobile"  alt="">
            </div>
            <div class="logo">
                <img src="https://source.unsplash.com/300x103/?mobile"  alt="">
            </div>
            <div class="logo">
                <img src="https://source.unsplash.com/300x104/?mobile"  alt="">
            </div>
            <div class="logo">
                <img src="https://source.unsplash.com/300x105/?mobile"  alt="">
            </div>
            <div class="logo">
                <img src="https://source.unsplash.com/300x100/?mobile" alt="">
            </div>
            <div class="logo">
                <img src="https://source.unsplash.com/300x101/?mobile"  alt="">
            </div>
            <div class="logo">
                <img src="https://source.unsplash.com/300x102/?mobile"  alt="">
            </div>
            <div class="logo">
                <img src="https://source.unsplash.com/300x103/?mobile"  alt="">
            </div>
            <div class="logo">
                <img src="https://source.unsplash.com/300x104/?mobile"  alt="">
            </div>
            <div class="logo">
                <img src="https://source.unsplash.com/300x105/?mobile"  alt="">
            </div>
        </div>
    </div>
</body>
</html>