body{
  padding: 0;
  margin: 0;
}

.section__head{
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: teal;
  position: relative;
}

.head__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text__t1,
.text__t2 {
  position: relative;
  font-size: 2rem;
  line-height: .8;
  color: whitesmoke;
  text-transform: uppercase;
  font-weight: 300;
}

.text__t1 h1 {
  display: inline-block;
  position: absolute;
  bottom: 0;
  left: 0px;
  animation: slide1 2s ease-in;
}

.text__t2 h1 {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  animation: slide2 2s ease-in;
}

.text__t1 span {
  color: tomato;
  position: absolute;
  padding: 0.5rem 0;
  opacity: 1;
  left: 0%;
  bottom: 0%;
  animation: drop1 2s ease;
}

.text__t2 span {
  color: greenyellow;
  position: absolute;
  padding: 0.5rem 0;
  opacity: 1;
  right: 0;
  top: 0%;
  animation: drop2 2s ease ;
}


@keyframes drop1{
  0%{
    bottom: 380px;
    transform: rotate(0);
  }

  80%{
    bottom: 0%;
  }
  90%{
    bottom: 20px;
    transform: rotate(360deg);
  }
  100%{
    bottom: 0;
    
  }
}

@keyframes drop2{
  0%{
    top: 380px;
  }

  80%{
    top: 0%;
  }
  90%{
    top: 20px;
    transform: rotate(360deg);
  }
  100%{
    top: 0;
  }
}

@keyframes slide1{
  0%{
    left: 380px;
  }

  80%{
    left: 0%;
    transform: rotate(360deg);
  }
  90%{
    left: 20px;
  }
  100%{
    left: 0;
  }
}

@keyframes slide2{
  0%{
    right: 380px;
  }

  80%{
    right: 0%;
    transform: rotate(360deg);
  }
  90%{
    right: 20px;
  }
  100%{
    right: 0;
  }
}