*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Playfair Display', serif;
    overflow-x: hidden;
}

.container{
    width: 100vw;
    min-width: 100%;
    height: 100vh;
    min-height: 100%;
    position: relative;
    background: linear-gradient(to right, #FFD200, #F7971E); 
}

.menu_overlay{
    width: 100vw;
    height: 100vh;
    position: absolute;
    overflow: hidden;
    color: #fff; 
    z-index: 100;
    transform: translateY(-100%);
    transition: transform 0.5s ease;
    background: linear-gradient(to right, #ffa751, #ffe259);
    display: flex;
    justify-content: center;
    align-items: center;
}

.list{
    height: 40%;
    width: 40%;
    position: relative;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.list li{
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.4s ease;
}

.mainLink{
    letter-spacing: 4px;
    font-size: 30px;
    text-decoration: none;
    color: #fff;
}

.list li:nth-child(1){
    top: 0;
    left: 0;
    background-color: #4b134f;
}

.list li:nth-child(2){
    bottom: 0;
    left: 0;
    background-color: #c94b4b;
}

.list li:nth-child(3){
    top: 0;
    right: 0;
    background-color: #F7971E;
}

.list li:nth-child(4){
    bottom: 0;
    right: 0;
    background-color: slateblue;
}

.list li:nth-child(5){
    bottom: 0;
    left: 0;
    background-color: #FFD200;
    
}

.list li:nth-child(6){
    top: 0;
    right: 0;
    background-color: transparent;
}

.social{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
}

.social a{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    color: #fff;
    letter-spacing: 2px;
}

.social a:nth-child(1){
    top: 0;
    left: 0;
    background-color: #4b134f;
}

.social a:nth-child(2){
    bottom: 0;
    left: 0;
    background-color: #c94b4b;
}

.social a:nth-child(3){
    top: 0;
    right: 0;
    background-color: #F7971E;
}

.social a:nth-child(4){
    bottom: 0;
    right: 0;
    background-color: slateblue;
}


.menu_overlay .fas {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 2.5rem;
    transition: all 0.3s ease;
    z-index: 100;
}
.menu_overlay .fas:hover{
    color: #4b134f;
    transform: scale(1.1) rotate(180deg);
}

#menuBtn{
    display: none;
}

.landing_page{
    max-height: 100vh;
    height: 100%;
    width: 100%;
    position: relative;
}

.menu{
    position: absolute;
    right: 20px;
    top: 20px;
}

.fas{
    font-size: 2rem;
    color: #222;
}

.fas:hover{
    color: #4b134f;
}

.side_text{
    height: 10vh;
    width: 60%;
    color: #c94b4b;
    position: absolute;
    left:0px;
    bottom: 20px;
    text-shadow: 0 0 1px #111;
    padding: 10px;
    font-size: 16px;
    color: #4b134f;
}

.main_text{
    color: #c94b4b;
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-shadow: 0 0 1px #111;
    display: flex;
    flex-direction: column;
}


@media screen and (max-width:750px) and (min-width:651px) {
    .list li a{
        font-size: 1.4rem;
    }

    .list {
        height: 30%;
        width: 50%;
    }
}

@media screen and (max-width:650px) {

    .list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;

    }

    .list li{
        margin-bottom: 10px;
        position: relative;
    }

    .list a{
        font-size: 1.4rem;
    }
}