:root {
    --dark_1: #3f704d;
    --dark_2: #0b6623;
    --bright_1: #39ff14;
    --bright_2: #4cbb17;
    --white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Top Nav Bar */

.main__top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--dark_1);
    height: 2.5rem;
    color: white;
}

.top__text {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.top__text p {
    font-size: 1.4rem;
}

.top__text p:hover {
    color: var(--bright_1);
}

/* Top Nav Bar ----Ends----*/

/* -----------------------Landing Area------------------------ */

.main__landing {
    margin: 0 auto;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.landing__hero {
    width: 100%;
    height: 100%;
}

/* Navigation Bar */

.logo__item {
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.logo {
    /* width: 80%; */
    height: 15rem;
}

.btn__container {
    font-size: 3rem;
}

.btn__container__ul {
    padding: 0.5rem 1rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    grid-gap: 2rem;
    align-items: center;
}

.ul__items:nth-child(1) {
    grid-column: 3/4;
}

.ul__items {
    z-index: 100;
    text-align: center;
}

.ul__items:hover {
    color: var(--white);
}

/* Navigation Bar --------Ends----------*/


/* text animation */

@keyframes showTopText {
    0% {
        transform: translate3d(0, 100%, 0);
    }

    40%,
    60% {
        transform: translate3d(0, 50%, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

@keyframes showBottomText {
    0% {
        transform: translate3d(0, -100%, 0);
    }

    100% {
        transform: translate3d(0, 0, 0);
    }
}

.right__text {
    position: relative;
}

.text__main {
    color: #21209c;
    position: absolute;
    top: -10rem;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 30vw;
}

.text__main>div {
    height: 50%;
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.text__main>div div {
    font-size: 3rem;
    padding: 1rem 0;
    position: absolute;
}

.text__top {
    border-bottom: 0.5rem dashed #21209c;
    top: 0;
}

.text__top div {
    animation: showTopText 1s 1s forwards;
    bottom: 0;
}

.text__main>div.text__top div h3 {
    color: #fff;
}

.text__bottom {
    bottom: 0;
}

.text__bottom div {
    animation: showBottomText 0.5s 2s forwards;
    transform: translate(0, -100%);
}


/* Text animation */


.landing__hero {
    background: rgb(56, 195, 34);
    background: linear-gradient(0deg, rgba(56, 195, 34, 1) 0%, rgba(253, 187, 45, 1) 100%);
    z-index: -200;
}

.hero__content {
    position: relative;
    height: 90vh;
    width: 100vw;
}

.content__text {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main__h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
}

.sub__h3 {
    font-size: 2rem;
}

.main__h1::before {
    height: 5rem;
    content: " ";
    position: absolute;
    background-color: var(--dark_1);
    animation: fill_effect 2s ease forwards;
}

.sub__h3::before {
    height: 5rem;
    content: " ";
    position: absolute;
    background-color: var(--dark_2);
    animation: fill_effect 3s ease forwards;
}

@keyframes fill_effect {
    0% {
        width: 100%;
    }

    100% {
        width: 0%;
    }
}


/* landing button */

.text__btn {
    position: relative;
    width: 12rem;
    height: 5rem;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    color: #fff;
    border: 3px solid #fff;
    font-size: 2rem;
    border-radius: 50px;
    padding: 1rem 2rem;
    outline: none;
    cursor: pointer;
    transition: 0.4s ease;
    background-color: #0b6623;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 200;
}

.text__btn:hover .pulsing:before {
    animation: pulsing 0.2s linear infinite;
}

.text__btn:hover .pulsing:after {
    animation: pulsing1 0.2s linear infinite;
}

.pulsing {
    width: 100%;
    height: 100%;
    border-radius: 5rem;
    z-index: -100;
    position: relative;
}

.pulsing:before,
.pulsing:after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #d9d9ec;
    border-radius: inherit;
    animation: pulsing 2.5s linear infinite;
}

.pulsing:after {
    animation: pulsing1 2.5s linear infinite;
}

@keyframes pulsing {
    0% {
        opacity: 1;
        transform: scaleY(1) scaleX(1);
    }

    20% {
        opacity: 0.5;
        transform: scaleY(1) scaleX(1);
    }

    70% {
        opacity: 0.2;
        transform: scaleY(1.8) scaleX(1.4);
    }

    80% {
        opacity: 0;
        transform: scaleY(1.8) scaleX(1.4);
    }

    90% {
        opacity: 0;
        transform: scaleY(1) scaleX(1);
    }
}

@keyframes pulsing1 {
    0% {
        opacity: 1;
        transform: scaleY(1) scaleX(1);
    }

    20% {
        opacity: 0.5;
        transform: scaleY(1) scaleX(1);
    }

    70% {
        opacity: 0.2;
        transform: scaleY(1.3) scaleX(1.15);
    }

    80% {
        opacity: 0;
        transform: scaleY(1.3) scaleX(1.15);
    }

    90% {
        opacity: 0;
        transform: scaleY(1) scaleX(1);
    }
}

/* Bubble */

.bubble {
    position: absolute;
    bottom: 8%;
    right: 0;
}

/* Bubble */

/* About */

.container__about {
    margin-top: 5rem;
    height: 90vh;
    width: 100vw;
    position: relative;
    padding: 2rem;
}

.about {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 200px, 1fr;
    grid-gap: 4rem;
}

.about__head {
    font-size: 4rem;
    text-align: center;
}

span {
    font-size: 2rem;
}

.about__content {
    width: 100vw;
    height: 100%;
    display: grid;
    grid-template-columns:repeat(2, 1fr);
    position: relative;
}

/*  Slider */


/* Slider */


/* Logo slider */

.logo_container {
    position: relative;
    overflow: hidden;
    height: 15vh;
}

.logo_slider {
    margin: auto;
    padding: 1rem;
    overflow: hidden;
    background-color: white;
}

@keyframes autoScroll {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(-3500px);
    }
}

.slide-gallery {
    display: flex;
    animation: autoScroll 50s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo_slider::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 8rem;
    height: 100%;
    z-index: 20;
    background: linear-gradient(to right, rgb(238, 238, 238, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.logo_slider::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8rem;
    height: 100%;
    z-index: 20;
    background: linear-gradient(to left, rgb(238, 238, 238, 1) 0%, rgba(255, 255, 255, 0) 100%);
}


.logo {
    padding: 0.5rem 2rem;
}

/* Logo slider Ends*/

/*  */


.wrap {
    font-size: 3rem;
    padding: 0.4rem;
    margin: 0;
    font-weight: 200;
    color: white;
}

/*  */