	h1  { 
				font-size: 96px;
				background: -webkit-linear-gradient(#35CBAE, #E82962);
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
			}


            /* duotone effect */


            			.duotone  { 
				background: url('https://jazz.fm/app/uploads/December52011/Jimi-Hendrix.jpg') no-repeat center center fixed;
				background-size: cover;
				width: 500px;
				height: 350px;
			}

 			.duotone::before  { 
 				background-color: #ddd10a; 
 				content: ''; 
 				display: block; 
 				width: 500px; 
 				height: 350px; 
 				mix-blend-mode: darken; 
 				position: absolute; 
 				top: 0; 
 				left: 0; 
 			} 

 			.duotone::after  { 
 				background-color: #c53030; 
 				content: ''; 
 				display: block; 
 				width: 500px; 
 				height: 350px; 
 				mix-blend-mode: lighten; 
 				position: absolute; 
 				top: 0; 
 				left: 0; 
			}



            footer h3 {
                /*text stroke*/
                /*...*/
                       -webkit-text-fill-color: transparent;
                       -webkit-text-stroke: 2px #000;
                }



                /* Line clamp */

                p.shortened {
                    display: -webkit-box;
                    -webkit-line-clamp: 3;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                  }


                  /* conic gradient */
                  .piechart {
                    background: conic-gradient(rgb(255, 132, 45) 0% 25%, rgb(166, 195, 209) 25% 56%, #ffb50d  56% 100%);
                    border-radius: 50%;
                    width: 300px;
                    height: 300px;
                  }


                  /* Display faulty image */

                  img {
                    font-family: 'Helvetica';
                    font-weight: 300;
                    line-height: 2;  
                    text-align: center;
                    width: 100%;
                    height: auto;
                    display: block;
                    position: relative;
                  }
                  
                  img:before { 
                    content: "We're sorry, the image below is broken :(";
                    display: block;
                    margin-bottom: 10px;
                  }
                  
                  img:after { 
                    content: "(url: " attr(src) ")";
                    display: block;
                    font-size: 12px;
                  }


                  /* Text rotation */

                  .rotate {

                    transform: rotate(-90deg);
                  
                  
                    /* Legacy vendor prefixes that you probably don't need... */
                  
                    /* Safari */
                    -webkit-transform: rotate(-90deg);
                  
                    /* Firefox */
                    -moz-transform: rotate(-90deg);
                  
                    /* IE */
                    -ms-transform: rotate(-90deg);
                  
                    /* Opera */
                    -o-transform: rotate(-90deg);
                  
                    /* Internet Explorer */
                    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
                  
                  }

                  /* try it */

                  text-shadow: -0.06em 0 red, 0.06em 0 cyan;
                  #stars span:hover {
                    cursor: crosshair;
                    transform: scale(1.3); /* This adds a hover effect */
                    transition: transform .2s cubic-bezier(0, 0.75, 0, 1);
                  }