:root {
    --extra: #ff4b5c;
    --text-color-p: #40493B;
    --text-color-s: #e0ece4;
    --bg-color-p: #66bfbf;
    --bg-color-s: #056674;
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    line-height: 3rem;
    letter-spacing: 0.15rem;
}

html {
    font-size: 10px;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    overflow-x: hidden;
    max-width: 110rem;
    margin: 0 auto;
}

.c_icon,
.c_btn {
    display: none;
}

.landing_container {
    display: grid;
    height: 100vh;
    margin-bottom: 3rem;
}


/* --------------------------- Top Nav -------------------------- */

.top_header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: var(--bg-color-s);
    font-size: 1.2rem;
    padding: 0.5rem;
    height: 3rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: var(--text-color-s);
}

.top_header div {
    justify-self: center;
    -webkit-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.top_header span {
    font-weight: 600;
}

.top_header div:hover {
    color: tomato;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}

/* ------------------------Top Nav Ends---------------------- */

/* ---------------------------Nav Bar------------------------ */

.navBar {
    position: absolute;
    top: 3rem;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 1rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

.navBar img {
    padding: 0.5rem;
}

.navBar ul {
    display: grid;
    grid-template-columns: 60px repeat(5, 1fr);
    grid-gap: 2rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    list-style: none;
    text-align: center;
    font-size: 2rem;
    text-transform: uppercase;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}

.navBar a {
    color: var(--text-color-s);
    text-decoration: none;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    position: relative;
    padding: 0.5rem;
}

.navBar a::before {
    content: "";
    position: absolute;
    display: block;
    width: 20%;
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: var(--extra);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navBar a::after {
    content: "";
    position: absolute;
    display: block;
    width: 20%;
    height: 3px;
    top: 0;
    right: 0;
    background-color: var(--extra);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.navBar a:hover {
    color: var(--extra);
    cursor: pointer;
}

.nav--item:hover a::before,
.nav--item:hover a::after {
    width: 100%;
    height: 3px;
}

/* ----------------------Navbar Ends----------------------- */

.landing {
    height: 100vh;
    background: url('../images/Products/landing_page.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: top;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
    color: var(--text-color-s);
    text-shadow: 1px 1px 1px black;
}

.landing__content {
    padding: 3rem 6rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    border-radius: 1rem;
}

.landing__content span {
    color: var(--extra);
    font-size: 4.5rem;
    opacity: 1;
}

.landing__content--header {
    font-size: 4rem;
    padding: 1rem 0;
    font-weight: 600;
    line-height: 6rem;
    letter-spacing: 0.4rem;
}

.landing__content--sub {
    font-size: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 5rem;
}

.landing__content--btn {
    position: relative;
}

.landing .btn-1 {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border: 5px solid var(--text-color-p);
    border-radius: 5rem;
    color: var(--text-color-s);
    cursor: pointer;
    outline: none;
    background: var(--text-color-p);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.landing .landing__content--btn:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--extra);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.landing .landing__content--btn:after {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 3px;
    background-color: var(--extra);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.landing__content--btn:hover:after,
.landing__content--btn:hover:before {
    width: 100%;
    opacity: 0
}

.landing__content--btn:hover .btn-1 {
    border: 5px solid var(--extra);
}

/*----------------------- About--------------------- */

.about__container {
    font-size: 2rem;
    color: var(--text-color-p);
    min-height: -webkit-max-content;
    min-height: -moz-max-content;
    min-height: max-content;
    background-color: rgba(1, 1, 1, 0.2);
    padding: 1rem 2rem;
}

.about__container--box {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* --------------------------------------- */
input[type="radio"] {
    display: none;
}

.container {
    position: relative;
    height: 50vh;
    width: 100%;
    padding: 1rem;
}

.slide-wrapper {
    position: relative;
    margin: 0 auto;
    padding: 3rem;
    width: 100%;
    height: 100%;
    border-radius: 2rem;
    -webkit-box-shadow: 2px 2px 2px 2px rgba(1,1,1, 0.6);
            box-shadow: 2px 2px 2px 2px rgba(1,1,1, 0.6);
    overflow: hidden;
}

#slide-role {
    background: inherit;
    position: absolute;
    top: 0;
    left: 0;
    width: 400%;
    height: 100%;
    z-index: 100;
    -webkit-transition: left .5s ease-in;
    -o-transition: left .5s ease-in;
    transition: left .5s ease-in;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.slide {
    width: 50%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.slide-1 {
    background-image: url("https://images.pexels.com/photos/1562/italian-landscape-mountains-nature.jpg?auto=compress&cs=tinysrgb&h=650&w=940");
}

.slide-2 {
    background-image: url("https://images.pexels.com/photos/33109/fall-autumn-red-season.jpg?auto=compress&cs=tinysrgb&h=650&w=940");
}

.slide-3 {
    background-image: url("https://images.pexels.com/photos/448714/pexels-photo-448714.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
}

.slide-4 {
    background-image: url("https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
}


.btn,
.btn::after {
    border-radius: 50%;
    -webkit-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
}

.btn {
    border: 1px solid rgba(0, 0, 0, 0.281);
    background: rgb(255, 255, 255);
    position: absolute;
    bottom: 2rem;
    width: 3rem;
    height: 3rem;
    cursor: pointer;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    z-index: 1000;
}

.btn:nth-of-type(1) {
    left: 35%;
}

.btn:nth-of-type(2) {
    left: 45%;
}

.btn:nth-of-type(3) {
    left: 55%;
}

.btn:nth-of-type(4) {
    left: 65%;
}

.btn:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}


.btn::after {
    content: "";
    display: inline-block;
    border: 1px solid white;
    background: var(--extra);
    width: 20px;
    height: 20px;
    margin: 3px 3px;
    -webkit-transform: scale(.5, .5);
        -ms-transform: scale(.5, .5);
            transform: scale(.5, .5);
    -webkit-box-shadow: 0px 1px 5px rgba(56, 56, 56, 0.822);
            box-shadow: 0px 1px 5px rgba(56, 56, 56, 0.822);
}



input[type="radio"]:checked#slide-2-trigger~div.slide-wrapper>div#slide-role {
    left: -100%;
}

input[type="radio"]:checked#slide-3-trigger~div.slide-wrapper>div#slide-role {
    left: -200%;
}

input[type="radio"]:checked#slide-4-trigger~div.slide-wrapper>div#slide-role {
    left: -300%;
}


input[type="radio"]:checked+label.btn {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
    border: 1px solid rgba(53, 53, 53, 0.308);
}

input[type="radio"]:checked+label.btn::after {
    -webkit-transform: scale(1.1, 1.1);
        -ms-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
    background: var(--extra);
}


/* --------------------------------------- */

.image__container:after {
    content: " ";
    position: absolute;
    height: 80%;
    width: 0.5rem;
    background-color: var(--bg-color-p);
}

.right {
    padding: 0 1rem;
}

.section__header--h2 {
    margin: 7rem 0;
}

.section__header--h2 h2 {
    font-size: 4rem;
    padding: 2rem;
    text-align: center;
    position: relative;
}

.section__header--h2 h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 10%;
    height: 0.5rem;
    bottom: 0;
    left: 50%;
    background-color: var(--extra);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.section__header--h2 h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 10%;
    height: 0.5rem;
    top: 0;
    right: 50%;
    background-color: var(--extra);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.section__header--h2:hover h2::after {
    right: 40%;
}

.section__header--h2:hover h2::before {
    left: 40%;
}

.section__header--h2:hover h2 span {
    color: var(--extra);
}

.section__header--text {
    grid-area: text;
    padding: 0 1rem;
    font-size: 1.6rem;
}

.section__header--text p {
    margin-bottom: 2rem;
    padding: 0 1rem;
}

.about_header--h1 {
    padding-bottom: 3rem;
}

.about__btn--container {
    position: relative;
    text-align: center;
}

.btn-2 {
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border: 5px solid var(--text-color-p);
    border-radius: 5rem;
    color: var(--text-color-s);
    cursor: pointer;
    outline: none;
    background: var(--text-color-p);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.about__btn--container:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--extra);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.about__btn--container:after {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 3px;
    background-color: var(--extra);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.about__btn--container:hover:after,
.about__btn--container:hover:before {
    width: 100%;
    opacity: 0
}

.about__btn--container:hover .btn-2 {
    border: 5px solid var(--extra);
}

/* Channels */

.about__container--other {
    padding: 7rem 2rem;
}

.channels {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.other__main--p1 {
    grid-area: main;
}


.other__main--p1 .p1,
.other__main--p2 .p2,
.about__mission_heading {
    font-size: 3rem;
    padding-bottom: 3rem;
    text-align: center;
}

.other__mission--para {
    font-size: 2rem;
    padding: 1rem 5rem 5rem;
    line-height: 3rem;
    letter-spacing: 0.15rem;
    /* border-bottom: 0.2rem solid black; */
}

.other__main--p1 ul,
.other__main--p2 ul {
    font-size: 2rem;
    padding: 0rem 5rem 5rem;
    list-style: none;
    line-height: 3rem;
    text-align: left;
}


/* Channels Ends*/

/* --------------------About----------------------- */

/* --------------------About Highlights----------------------- */

.about__highlight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 5rem 2rem 1rem;
}

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    grid-gap: 3rem;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    position: relative;
}

.card {
    list-style: none;
    position: relative;
    border-radius: 1rem;
    padding: 1rem;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    height: 25rem;
}

.card__top {
    border-radius: 1rem;
    padding: 1rem;
    background: var(--text-color-p);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    text-align: center;
    width: 100%;
    border: 0.5rem solid var(--text-color-s);
    height: 20rem;
    -webkit-transform: translateY(5rem);
        -ms-transform: translateY(5rem);
            transform: translateY(5rem);
}

.card__top i {
    font-size: 5rem;
    color: var(--text-color-s);
    margin: 1rem auto 0;
}

.cards:hover .card__top i {
    color: #d716e9;
}

.card:hover .card__top {
    -webkit-transform: translateY(0rem);
        -ms-transform: translateY(0rem);
            transform: translateY(0rem);
}

.card:hover .card__bottom {
    -webkit-transform: translateY(14rem);
        -ms-transform: translateY(14rem);
            transform: translateY(14rem);
}

.cards:hover>.card:not(:hover) .card__top {
    -webkit-filter: blur(20px);
            filter: blur(20px);
    background-image: -webkit-gradient(linear, right bottom, left top, from(#d716e9), color-stop(#6a7eff), color-stop(#00aaff), color-stop(#00c5ff), to(#12d8eb));
    background-image: -o-linear-gradient(right bottom, #d716e9, #6a7eff, #00aaff, #00c5ff, #12d8eb);
    background-image: linear-gradient(to left top, #d716e9, #6a7eff, #00aaff, #00c5ff, #12d8eb);
}

.card__bottom {
    position: absolute;
    top: 5rem;
    left: 5%;
    border-radius: 1rem;
    padding: 1rem;
    width: 90%;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-shadow: 1px 1px 1px black;
    background-color: #00aaff;
    z-index: -2;
    height: 15rem;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.card__para {
    font-size: 1.3rem;
    padding: 1rem 0;
    text-align: center;
    color: var(--text-color-s);
    text-transform: uppercase;
}

.card__heading {
    color: var(--text-color-s);
    padding: 1rem;
    font-size: 1.4rem;
    line-height: 2rem;
    text-align: center;
    text-transform: uppercase;
}


/* --------------------About Highlights----------------------- */

/* --------------------Gallery------------------------- */

/* -----------------Product Gallery-------------------- */

.products__header--h2 {
    margin: 7rem 0;
}

.products__header--h2 h2 {
    font-size: 4rem;
    padding: 2rem;
    text-align: center;
    position: relative;
}

.products__header--h2 h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 10%;
    height: 0.5rem;
    bottom: 0;
    left: 50%;
    background-color: var(--extra);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.products__header--h2 h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 10%;
    height: 0.5rem;
    top: 0;
    right: 50%;
    background-color: var(--extra);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.products__header--h2:hover h2::after {
    right: 40%;
}

.products__header--h2:hover h2::before {
    left: 40%;
}

.products__header--h2:hover h2 span {
    color: var(--extra);
}

.gallery__product {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5rem;
    padding: 0.5rem;
}

.product__card {
    position: relative;
    height: 20rem;
    overflow: hidden;
    border-radius: 1rem;
    -webkit-box-shadow: 0 0 1rem 2px rgba(0, 0, 0, 0.5);
            box-shadow: 0 0 1rem 2px rgba(0, 0, 0, 0.5);
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
}

.product__card::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, 0.3);
    z-index: 0;
}


.product__card--image {
    width: 100%;
    height: 100%;
    position: relative;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: all 1s ease-in;
    -o-transition: all 1s ease-in;
    transition: all 1s ease-in;
    z-index: -1;
}

.product__card--text {
    position: absolute;
    bottom: 0rem;
    padding: 0.5rem;
    color: white;
    -webkit-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

.text__title {
    font-size: 2.2rem;
    text-align: right;
    text-shadow: 1px 1px 1px var(--extra);
}

.text__company {
    font-size: 1.8rem;
}

.text__details {
    max-height: 0;
    opacity: 0;
    -webkit-transition: all.5s linear;
    -o-transition: all.5s linear;
    transition: all.5s linear;
}

.text__details p {
    font-size: 1.4rem;
    padding: 0.5rem;
    line-height: 2rem;
}

.product__card:hover .text__title,
.product__card:hover .text__company
{
    text-align: center;
    margin-bottom: 0.5rem;
}

.product__card:hover .text__details {
    max-height: 20rem;
    opacity: 1;
}

.product__card:hover .product__card--image {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}

/*  */

/* Logo slider */

.logo_container {
    position: relative;
    overflow: hidden;
    height: 15vh;
}

.logo_slider {
    margin: auto;
    padding: 1rem;
    overflow: hidden;
    background-color: white;
}

@-webkit-keyframes autoScroll {
    0% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }

    100% {
        -webkit-transform: translateX(-3500px);
                transform: translateX(-3500px);
    }
}

@keyframes autoScroll {
    0% {
        -webkit-transform: translateX(0px);
                transform: translateX(0px);
    }

    100% {
        -webkit-transform: translateX(-3500px);
                transform: translateX(-3500px);
    }
}

.slide-gallery {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation: autoScroll 50s linear infinite;
            animation: autoScroll 50s linear infinite;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.logo_slider::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 8rem;
    height: 100%;
    z-index: 20;
    background: -webkit-gradient(linear, left top, right top, from(rgb(238, 238, 238, 1)), to(rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(left, rgb(238, 238, 238, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgb(238, 238, 238, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.logo_slider::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 8rem;
    height: 100%;
    z-index: 20;
    background: -webkit-gradient(linear, right top, left top, from(rgb(238, 238, 238, 1)), to(rgba(255, 255, 255, 0)));
    background: -o-linear-gradient(right, rgb(238, 238, 238, 1) 0%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to left, rgb(238, 238, 238, 1) 0%, rgba(255, 255, 255, 0) 100%);
}


.logo {
    padding: 0.5rem 2rem;
}

/* Logo slider Ends*/


/* Services */

.services_header {
    display: grid;
    grid-template-areas: "head head""left right";
    padding: 7rem 3rem;
    text-align: center;
    position: relative;
}

.services_h2 {
    grid-area: head;
    text-align: center;
    position: relative;
}

.services_h2 h2 {
    font-size: 4rem;
    padding: 2rem;
}

.services_h2 h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 10%;
    height: 0.5rem;
    bottom: 0;
    left: 50%;
    background-color: var(--extra);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.services_h2 h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 10%;
    height: 0.5rem;
    top: 0;
    right: 50%;
    background-color: var(--extra);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.services_h2:hover h2::after {
    right: 40%;
}

.services_h2:hover h2::before {
    left: 40%;
}

.services_h2:hover h2 span {
    color: var(--extra);
}

.services_left {
    grid-area: left;
    font-size: 1.6rem;
    color: var(--text-color-p);
    padding: 3rem;
    text-align: left;
}

.services_right {
    grid-area: right;
}

.services_text {
    display: grid;
    grid-gap: 2rem;
    font-size: 2rem;
    letter-spacing: 0.15rem;
    line-height: 3rem;
}

.services_right img {
    padding: 3rem;
    width: 100%;
}

/* Services Ends */

/*--------------Contact-----------------*/

.about__pharmacy--main {
    padding: 0 2rem;
    font-size: 2rem;
}

.about__pharmacy--header{
    text-align: center;
    padding-bottom: 3rem;
}

.about__pharmacy--h2{
    font-size: 4rem;
    position: relative;
    padding: 2rem;
}

.about__pharmacy--h2 span{
    color: var(--extra);
}

.about__pharmacy--h2::before {
    content: "";
    position: absolute;
    display: block;
    width: 10%;
    height: 0.5rem;
    bottom: 0;
    left: 50%;
    background-color: var(--extra);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.about__pharmacy--h2::after {
    content: "";
    position: absolute;
    display: block;
    width: 10%;
    height: 0.5rem;
    top: 0;
    right: 50%;
    background-color: var(--extra);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.about__pharmacy--h2:hover::before {
    left: 40%;
}

.about__pharmacy--h2:hover::after{
    right: 40%;
}

.about_Branches h2 {
    text-align: center;
    padding-bottom: 2rem;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
}

.sw_cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:
        "heading heading "
        "b1 b2"
}

.sw_head_info {
    grid-area: heading;
    grid-column: span 12;
    padding: 2rem 0 5rem;
    text-align: center;
    font-size: 2rem;
}

.sw_cards-left {
    grid-column: 1/ span 6;
    display: grid;
    grid-template-areas: "pic1 pic2";
    grid-gap: 1rem;
}


.sw_card_f {
    position: absolute;
    top: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
    border: 2px solid #0d7377;
}

.sw_card-left-p1 {
    grid-area: pic1;
    position: relative;
    -webkit-perspective: 200rem;
            perspective: 200rem;
}

.left-p1-front {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    background-image: url("https://source.unsplash.com/800x803/?nature");
}

.left-p1-back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    background-image: url("https://source.unsplash.com/800x804/?nature");
}

.sw_card-left-p1:hover .left-p1-front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}

.sw_card-left-p1:hover .left-p1-back {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
}

.sw_card-left-p2 {
    grid-area: pic2;
    position: relative;
    -webkit-perspective: 200rem;
            perspective: 200rem;
}

.left-p2-front {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
    background-image: url("https://source.unsplash.com/800x801/?nature");
}

.left-p2-back {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg);
    background-image: url("https://source.unsplash.com/800x802/?nature");
}

.sw_card-left-p2:hover .left-p2-front {
    -webkit-transform: rotateY(-180deg);
            transform: rotateY(-180deg);
}

.sw_card-left-p2:hover .left-p2-back {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
}

.sw_cards-right {
    grid-area: b2;
    grid-column: 7/ span 6;
    padding: 2rem;
    position: relative;
}

.sw_cards-right ul {
    padding: 1rem;
    line-height: 3rem;
    letter-spacing: 0.15rem;
}

.sw_cards-right::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 2%;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    height: 70%;
    width: 0.5rem;
    background-color: var(--extra)
}

.sw_cards li {
    list-style: none
}


/* -------------------Pharmacy----------------- */
.about__pharmacy {
    text-align: center;
    padding: 3rem 0;
}

.about__pharmacy h3{
    padding: 4rem 0 2rem;
}

/* -----------Pharmacy Gallery Starts------------ */


.about__pharmacy--container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 3rem 1rem;
    /* justify-content: center;
    align-items: center; */
    overflow: hidden;
    -webkit-transform: skew(5deg);
        -ms-transform: skew(5deg);
            transform: skew(5deg);
  }

  .pharmacy__card--imageContainer{
    opacity: 0;
  }
  .pharmacy__card--imageContainer .image__text{
      font-size: 1.2rem;
  }
 
  .pharmacy__card {
    font-size: 1rem;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    height: 30rem;
    border: 1px solid var(--extra);
    position: relative;
    background-image: url(../images/Products/c_img_1.jpg);
    background-size: cover;
    background-position: center;
  }

  .pharmacy__card:hover .pharmacy__card--imageContainer{
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    opacity: 1;
  }

  .pharmacy__card .pharmacy__card--title {
    color: white;
    background: rgba(255, 30, 173, 0.75);
    padding: 0.5em;
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
            transform-origin: 0% 0%;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    min-width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 2rem;
    white-space: nowrap;
  }

  .pharmacy__card:hover {
    -webkit-box-flex: 10;
        -ms-flex-positive: 10;
            flex-grow: 10;
  }

  .pharmacy__card:hover img {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }

   .pharmacy__card:hover .pharmacy__card--title {
    text-align: center;
    top: calc(100% - 2em);
    color: white;
    background: rgba(0, 0, 0, 0.5);
    font-size: 2em;
    -webkit-transform: rotate(0deg) skew(-5deg);
        -ms-transform: rotate(0deg) skew(-5deg);
            transform: rotate(0deg) skew(-5deg);
  }

   .pharmacy__card img {
    width: 50%;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
    -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
  }

   .pharmacy__card:not(:nth-child(6)) {
    margin-right: 1rem;
  }

/* -----------Pharmacy Gallery Ends------------ */

/* ---------------Pharmacy Ends----------------- */

/* ---------------- Contact Starts ------------ */

.contact__form--text{
    font-size: 1.5rem;
    text-align: center;
}

.contact__form--container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 4rem;
    padding: 5rem 3rem ;
    max-height: -webkit-max-content;
    max-height: -moz-max-content;
    max-height: max-content;
}

.contact__form--input{
    width: 100%;
}

.contact__form--input:nth-child(1){
    grid-column: 1 / span 2;
    width: 100%;
}

.contact__form--input:nth-child(2){
    grid-column: 3 / span 2;
    width: 100%;
}

.contact__form--input:nth-child(3){
    grid-column: 1 / span 2;
    width: 100%;
}

.contact__form--input:nth-child(4){
    grid-column: 3 / span 2;
    width: 100%;
}

.contact__form--input:nth-child(5){
    grid-column: 2 / span 2;
    width: 100%;
}

.contact__form--btn{
    grid-column: 1 / span 4;
    width: 100%;
}

.contact__form--input input:focus ~ label, 
.contact__form--input textarea:focus ~ label, 
.contact__form--input input:valid ~ label, 
.contact__form--input textarea:valid ~ label {
    font-size: 1rem;
    color: #999;
    top: -5px;
    -webkit-transition: all 0.225s ease;
    -o-transition: all 0.225s ease;
    transition: all 0.225s ease;
}

.contact__form--input {
    margin: 1rem 0;
    position: relative;
    border-radius: 4px;
}

.contact__form--input label {
    color: white;
    padding: 1rem 3rem;
    position: absolute;
    font-size: 1.5rem;
    top: 1rem;
    left: 0;
    -webkit-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
    pointer-events: none;
}

.contact__form--input input,
.contact__form--input textarea {
    padding: 2rem;
    border: 0;
    width: 100%;
    font-size: 1rem;
    background-color: #2d2d2d;
    color: white;
    border-radius: 4px;
}

.contact__form--input input:focus,
.contact__form--input textarea:focus { outline: 0; }

.contact__form--btn {
    text-align: center;
    position: relative;
}

.contact__form--btn{
    margin: 0;
    padding: 0;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

.btn-3 {
    margin: 0 auto;
    max-width: -webkit-max-content;
    max-width: -moz-max-content;
    max-width: max-content;
    font-size: 1.6rem;
    padding: 1rem 2rem;
    border: 5px solid var(--text-color-p);
    border-radius: 5rem;
    color: var(--text-color-s);
    cursor: pointer;
    outline: none;
    background: var(--text-color-p);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.contact__form--btn:before {
    content: " ";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: var(--extra);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.contact__form--btn:after {
    content: " ";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 3px;
    background-color: var(--extra);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

 .contact__form--btn:hover:after,
 .contact__form--btn:hover:before {
    width: 100%;
    opacity: 0
}

.contact__form--btn:hover .btn-3 {
    border: 5px solid var(--extra);
}

/* -----------------Contact Ends -------------- */

/* ------------------Media Queries-------------------- */

@media only screen and (max-width:1000px) {
    .top_header {
        font-size: 1rem;
    }
}

@media only screen and (max-width:860px) {

    .top_header {
        font-size: 1rem;
    }

    .top_header .fax {
        display: none;
    }

    .navBar {
        grid-template-columns: 50px 1fr;
    }

    .navBar img {
        padding: 0.5rem;
        width: 100%;
    }

    .navBar ul {
        font-size: 1.7rem;
        grid-gap: 1.5rem;
    }

    .landing__content--header {
        font-size: 3rem;
        line-height: 2rem;
    }

    .landing__content--header span {
        font-size: 3.2rem;
    }

    .landing__content--sub {
        font-size: 2.4rem;
        margin-bottom: 3rem;
    }

    .btn-1 {
        font-size: 1.4rem;
        padding: 0.5rem 1rem;
    }
}

@media only screen and (max-width:660px) {
    .top_header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        /* display: grid;
        grid-template-columns: repeat(3,1fr); */
        font-size: 1rem
    }

    .top_header .fax {
        display: none;
    }

    .navBar ul {
        font-size: 1.5rem;
        grid-gap: 0.4rem;
    }

    .landing__content--header {
        font-size: 2.3rem;
        line-height: 2rem;
    }

    .landing__content--header span {
        font-size: 2.4rem;
    }

    .landing__content--sub {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    .btn-1 {
        font-size: 1.4rem;
        padding: 0.5rem 1rem;
    }

}

@media only screen and (max-width:560px) {
    .top_header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        font-size: 1rem;
    }

    .top_header .fax,
    .top_header .wapp {
        display: none;
    }

    .landing__container {
        position: relative;
    }

    .landing__content--btn:after,
    .landing__content--btn:before,
    .navBar a::after,
    .navBar a::before {
        display: none;
    }

    .main_logo,
    .navBar {
        z-index: 10;
    }

    .navBar img {
        width: 100%;
    }

    ul.nav {
        background-color: green;
        height: 100vh;
        width: 15rem;
        position: absolute;
        top: 0;
        left: 4px;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 100px 10px repeat(5, -webkit-max-content);
        grid-template-rows: 100px 10px repeat(5, max-content);
        /* justify-content: space-around; */
        -webkit-transition: translateX 0.2s ease;
        -o-transition: translateX 0.2s ease;
        transition: translateX 0.2s ease;
        z-index: 100;
    }

    .nav li {
        padding: 1.5rem 0.5rem;
    }

    .c_icon {
        display: block;
    }

    .fa-bars {
        position: absolute;
        background-color: black;
        padding: 1rem;
        color: white;
        font-size: 2.5rem;
        top: 1rem;
        left: 3rem;
        z-index: -2;
    }

    .fa-times {
        position: absolute;
        top: 0rem;
        left: 15rem;
        background-color: black;
        padding: 0.5rem 1rem;
        color: white;
        font-size: 1.5rem;
    }

    .c_btn:checked+ul.nav {
        -webkit-transform: translateX(-200px);
            -ms-transform: translateX(-200px);
                transform: translateX(-200px);
    }

    .landing__content--header {
        font-size: 2.3rem;
        line-height: 2rem;
    }

    .landing__content--header span {
        font-size: 2.4rem;
    }

    .landing__content--sub {
        font-size: 1.8rem;
        margin-bottom: 2rem;
    }

    .btn-1 {
        font-size: 1.4rem;
        padding: 0.5rem 1rem;
    }
}

@media only screen and (max-width:450px) {
    .top_header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        font-size: 1.1rem;
    }

    .top_header .fax,
    .top_header .wapp {
        display: none;
    }

}

@media only screen and (max-width:400px) {
    .top_header {
        display: none;
    }

    .fa-bars {
        padding: 1rem;
        font-size: 2rem;
        top: -1.5rem;
        left: 1rem;
        z-index: -2;
    }

    ul.nav {
        width: 15rem;
        position: absolute;
        top: -3rem;
        left: 2px;
    }
}