<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Modal</title>
    <link rel="stylesheet" href="./image_modal.css">
</head>
<body>
    <div class="container">
        <div class="content">
            <div class="img" alt="Simple Modal Using CSS And JavaScript"></div>
            <button class="btn">Open Image</button>
        </div>
        <div class="modal">
            <div class="modal--btn">&times;</div>
            <div class="modal--img"></div>
            <div class="modal--text"></div>
        </div>
    </div>
    <script src="./image_modal.js"></script>
</body>
</html>