*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.content{
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.img{
    width: 100%;
    height: 100%;
    background-image: url('https://images.unsplash.com/photo-1418065460487-3e41a6c84dc5?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1500&q=80');
    background-position: center;
    background-size: cover;
    border: 5px solid black;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.btn {
    background: #3D94F6;
    background-image: linear-gradient(top, #3D94F6, #1E62D0);
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 15px;
    padding: 10px 25px;
    box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    cursor: pointer;
    text-align: center;
    margin-top: 20px;
 }
 
 .btn:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: linear-gradient(top, #1E62D0, #3D94F6);
    border-radius: 20px;
 }

.modal{
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    transition: all 300ms cubic-bezier(0.075, 0.82, 0.165, 1);
}

.modal--img{
    width: 100%;
    height: 100%;
    padding: 100px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.modal--btn{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 50px;
    width: 50px;
    height: 50px;
    background-color: #111;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 300ms ease;
    border-radius: 50%;
}

.modal--btn:hover{
    color: orange;
    transform: rotate(1turn);
}

.modal--text{
    width: 100%;
    font-size: 40px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}