<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h2 class="main">
        <p class="para">Are you looking for</p>
        <div class="wrapper">
            <ul class="words">
                <li class="word">Wheel Chair</li>
                <li class="word">Hospital Bed</li>
                <li class="word">Mattress</li>
                <li class="word">First Aid Kit</li>
            </ul>
        </div>
    </h2>
</body>
</html>