<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <h2 class="main">
        <span>Are you looking for</span>
        <div>
            <ul class="words">
                <li>Wheel Chair</li>
                <li>Hospital Bed</li>
                <li>Mattress</li>
                <li>First Aid Kit</li>
                <li>Vital Sign Monitors</li>
            </ul>
        </div>
    </h2>
</body>
</html>