body {
    justify-content: center;
    display: flex;
}

.main {
    font-size: 36px;
    font-weight: 100;
    color: tomato;
    display: flex;
    flex-direction: column;
}

p{
    margin: 0;
    padding: 10px;
}

.main div {
    overflow: hidden;
    position: relative;
    float: right;
    height: 65px;
    padding-top: 10px;
    margin-top: -10px;
}

.main div li {
    text-align: center;
    color: tomato;
    font-weight: 700;
    padding: 0 10px;
    height: 45px;
    margin-bottom: 45px;
    display: block;
}

.words {
    animation: dropword 5s ease-in infinite;
}

@keyframes dropword {
    0% {
        margin-top: -360px;
    }

    5% {
        margin-top: -270px;
    }

    25% {
        margin-top: -270px;
    }

    30% {
        margin-top: -180px;
    }

    50% {
        margin-top: -180px;
    }

    55% {
        margin-top: -90px;
    }

    75% {
        margin-top: -90px;
    }

    80% {
        margin-top: 0px;
    }

    99.999% {
        margin-top: 0px;
    }

    100% {
        margin-top: -270px;
    }
}