<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <div class="nav">
        <ul class="nav__list">Menu
            <ul class="nav__menu-lists nav__menu--1-lists">
              <li class="nav__menu-items">Phone Number</li>
              <li class="nav__menu-items">Email Id </li>
              <li class="nav__menu-items">Fax</li>
              <li class="nav__menu-items">Four</li>
              <li class="nav__menu-items">Five</li>
            </ul>
        </ul>
    </div>
</body>
</html>
