:root{
    --hoverColor1: #FFAA4C;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
    font-size: 10px;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

body{
    max-height: 100vh;
    overflow-x: hidden;
    font-weight: 400;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header--navBar{
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 15rem;
    z-index: 10;
    background-color: #111;
    transform: translateX(-100%);
    transition: all 300ms linear;
}

.header--active{
    transform: translateX(0%)
}

.navBar--list{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.navBar--item a{
    font-size: 1.5rem;
    color: #fff;
    letter-spacing: 0.2rem;
}

.navBar--item:hover a{
    color: var(--hoverColor1);
}


.header--hamburgerIcon{
    font-size: 2rem;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 1rem;
    top: 1rem;
    width: 4rem;
    height: 3rem;
    background-color: #111;
    color: #fff;
    z-index: 10;
}

.header--hamburgerIcon:hover i{
    color: var(--hoverColor1);
}



/* Home Section */
.home{
    width: 100%;
    height: 100vh;
    transition: all 300ms linear;
    background-color: #FFAA4C;
    position: relative;
}

.homeSlide{
    transform: translateX(15rem)
}

.home--videoContainer{
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}

video{
    height: auto;
    max-width: 100%;
}

.home--content{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home--hText{
    height: 15rem;
    color: #fff;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 2rem;
    padding: 1rem;
    width: 40rem;
    text-align: center;
    background-color: rgba(0,0,0,0.4);
}

.hText--head{
    font-size: 3rem;
    letter-spacing: 0.2 rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hText--head span{
    display: inline-block;
}

.hText--subhead{
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
}

.hText--para{
    padding: 0 5rem;
}

.home--hForm{
    height: 25rem;
    position: absolute;
    right: 10rem;
}

.hForm{
    display: grid;
    grid-template-rows: 4rem 1fr;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.6);
    padding: 1rem;
    color: #fff;
}

.hForm--text{
    text-align: center;
    padding: 1rem;
}

.hForm--inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-content: center;
    padding: 1rem 0;
}

.input{
    width: 100%;
    padding-bottom: 1rem;
}

input, select{
    height: 1.5rem;
    width: 100%;
}

/* Home Section Ends */

/* Media Query */



/* Destination Section */

.destination{
    width: 100%;
    padding-bottom: 10rem;
}

/* ------------------------ */
.destination--container{
    width: 100%;
    position: relative;
    margin-top: 20rem;
}

.destination--dText{
    width: 100%;
    text-align: center;
    padding: 4rem 0;
}

.dText--title{
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
}

.dText--subtitle{
    font-size: 2.2rem;
    letter-spacing: 0.3rem;
}
/* ----------------------------- */

.destination--dImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.dImage--layer{
    display: grid;
    grid-template-columns: repeat(3, 30rem);
    grid-template-rows: repeat(2, 20rem);
}

.dImage--block{
    position: relative;
    background-size: cover;
    background-position: center;
}

.dImage--text{
    position: absolute;
    background-color: rgba(0,0,0,0.2);
    width: 100%;
    bottom: 0;
    height: 5rem;
    color: #fff;
    padding: 1rem;
    transition: bottom 300ms ease-out;
}

.dImage--block:hover .dImage--text{
    bottom: 10%;
    background-color: rgba(0,0,0,0.6);
}

.text--city{
    font-size: 1.6rem;
    letter-spacing: 0.2rem;
}

.text--country{
    font-size: 1.2rem;
    letter-spacing: 0.2rem;
}

.dImage--layer .small--1,
.dImage--layer .small--2 {
    width: 30rem;
    height: 20rem;
}

.dImage--layer .long{
    width: 60rem;
    height: 20rem;
}

.dImage--layer .large{
    width: 60rem;
    height: 40rem;
}

/* Layer 1 */

.layer1 .small--1{
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    background-image: url('../images/mauritiu_small.jpg');
}

.layer1 .small--2{
    grid-column: 4 / 5;
    grid-row: 2 /3;
    background-image: url('../images/germany_small.jpg');
}

.layer1 .large{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
    background-image: url('../images/italy_large.jpg');
}

.layer1 .long{
    grid-column: 3 / span 2;
    grid-row: 1 / 2; 
    background-image: url('../images/australia.jpg');
}

/* Layer 2 */

.layer2 .small--1{
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    background-image: url('../images/dubai.jpg');
}

.layer2 .small--2{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    background-image: url('../images/japan.jpg');
}

.layer2 .long{
    grid-column: 1 / 3;
    grid-row: 2 / 3;
    background-image: url('../images/kerala_long.jpg');
}

.layer2 .large{
    grid-column: 3 / 5;
    grid-row: 1 / 3; 
    background-image: url('../images/netherlands_large.jpg');
}

/* Destination Section Ends */


/* About Section */


/* ------------------------ */
.section{
    padding-bottom: 10rem;
}

.about--container{
    width: 100%;
    position: relative;
    margin-top: 20rem;
}

.about--aText{
    width: 100%;
    text-align: center;
    padding: 4rem 0;
}

.aText--title{
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
}

.aText--subtitle{
    font-size: 2.2rem;
    letter-spacing: 0.3rem;
}
/* ----------------------------- */


.about--aData{
    width: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: repeat(2, 30rem);
    gap: 5rem;
    justify-content: center;
}

.aData--block{
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    align-items: center;
    justify-items: center;
}

.aData--text{
    padding: 2rem 5rem 2rem 2rem;
    background-color: bisque;
    height: 100%;
    border: 0.1rem solid #fff;
    box-shadow: 0 0 1rem 0.1rem #111;
    height: 30rem;
}

.aData--h3{
    font-size: 3rem;
    letter-spacing: 0.3rem;
    margin-bottom: 2rem;
}

.aData--para{
    font-size: 1.4rem;
    letter-spacing: 0.11rem;
    line-height: 150%;
}

.aData--img{
    height: 26rem;
    overflow: hidden;
}

.aData--b2 .aData--text{
    grid-column: 2/3;
    padding: 2rem 2rem 2rem 5rem;
}

.aData--b2 .aData--img{
    grid-column: 1/2;
    grid-row: 1/ 2;
}

/* About Section Ends */


/* Recoomendations Section */

/* ------------------------ */

.recommended--container{
    width: 100%;
    min-height: 200vh;
    height: auto;
    position: relative;
    margin: 10rem auto;
}

.recommended--content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    background-color: #450dc9;
}

.recommended--block{
    width: 100%;
    min-height: 100vh;
}

.recommended--rText{
    width: 100%;
    text-align: center;
    padding: 4rem 0;
}

.rText--title{
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
}

.rText--subtitle{
    font-size: 2.2rem;
    letter-spacing: 0.3rem;
}
/* ----------------------------- */

.recommended--hotels,
.recommended--cars{
    width: 100%;
    padding: 5rem;
}

.hotel--title,
.cars--title{
    text-align: center;
    font-size: 2rem;
    letter-spacing: .12rem;
}

.hotel--scrollContainer,
.cars--scrollContainer{
    width: 100%;
    height: 4rem;
    margin: 5rem 0;
}

.hotel--scroll,
.cars--scroll{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 2rem 0;
}

.scroll--icon{
    position: absolute;
    font-size: 4rem;
    padding: 1rem 2rem;
    background-color: #fff;
}

.scroll--left{
    left: 0;
}

.scroll--right{
    right: 0;
}

.scroll--list{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
    width: 100rem;
    overflow: hidden;
}

.scroll--item{
    min-width: 12rem;
    height: 5rem;
    font-size: 1.6rem;
    background-color: #FFAA4C;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 0 1rem;
}

.hotel--cards,
.cars--cards{
    height: 30rem;
    width: 100%;
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-content: center;
}

.hotel--card,
.cars--card{
    height: 100%;
    width: 35rem;
    background-color: #450dc9;
    position: relative;
    border: 0.1rem #fff solid;
    box-shadow: 0 0 2rem 0.2rem #111;
    overflow: hidden;
}

.hotel--card:hover,
.cars--card:hover{
    box-shadow: 0 0 1rem 0.1rem #111;
}

.hotel--card:hover .hotel--img,
.cars--card:hover .cars--img{
    transform: scale(1.2);
}

.hotel--imgContainer,
.cars--imgContainer{
    width: 100%;
    height: 18rem;
    overflow: hidden;
}

.hotel--img,
.cars--img{
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    transition: all 300ms ease-in;
}

.card1 .hotel--img{
    background-image: url('../images/hotel--1.jpg');
}

.card2 .hotel--img{
    background-image: url('../images/hotel--2.jpg');
}

.card3 .hotel--img{
    background-image: url('../images/hotel--3.jpg');
}

.hotel--head,
.cars--head{
    position: absolute;
    text-align: center;
    top: 2rem;
    background-color: #5076e0;
    width: 70%;
    padding: 0.5rem;
    font-size: 1.8rem;
    letter-spacing: 0.2rem;
    color: #fff;
    box-shadow: 0 0 2rem 0.2rem #111;
    z-index: 2;
}

.hotel--content{
    display: grid;
    grid-template-columns: 60% 40%;
    height: 12rem;
}

.hotel--amenities,
.hotel--features{
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    letter-spacing: 0.12rem;
    display: flex;
    height: 100%;
    flex-direction: column;
    text-transform: capitalize;
    justify-content: space-around;
    padding: 1rem 0;
}

.hotel--features{
    width: 95%;
    height: 100%;
    color: #fff;
}

.hotel--features p{
    background-color: #5076e0;
    padding: 0.5rem;
    margin-left: 0.5rem;
    border-left: 0.2rem solid #fff;
}

.hotel--amenities li{
    list-style-type:circle;
    font-size: 1.2rem;
    margin-left: 1rem;
    color: rgb(238, 238, 231);
}

.cars--top{
    display: flex;
    justify-content: space-between;
    border-left: 0.5rem #fff solid;
    border-right: 0.5rem #fff solid;
    padding: 0 0.5rem;
}

.cars--name{
    font-size: 2rem;
    color: #fff;
}

.cars--location{
    font-size: 1.6rem;
    color: #fff;
}

.cars--middle{
    display: grid;
    grid-template-columns: 50% 50%;
}


.cars--rating, 
.cars--price{
    display: flex;
    flex-direction: column; 
    align-items: flex-start;
    color: #fff;
    font-size: 1.4rem;
    margin-top: 1rem;
}

.cars--rating{
    justify-content: space-between;
}

.cars--rating> div{
    border-left: 0.5rem #fff solid;
    padding-left: 0.5rem;
}

.cars--rating .ratings--review{
    position: absolute;
    bottom: 0.5rem;
    left: 0.5rem;
    color: #a1abc9;
    margin-top: 2rem;
    border-left: none;
}

.cars--price > div{
    color: #fff;
    letter-spacing: 0.2rem;
    margin: 0.5rem 0;
    border-right: 0.5rem #fff solid;
    padding-right: 0.5rem;
    align-self: flex-end;
    font-family:Arial, Helvetica, sans-serif
}
.price--num span,
.price--day span{
    font-size: 1.6rem;
    padding: 0 0.5;
}

.rating--num span{
    color: #fff;
    padding-right: 1rem;
    font-size: 2rem;
}

.rating--num span:nth-child(2){
    padding-left: 1rem;
}

.rating--words{
    font-size: 2rem;
    font-weight: 600;
    margin-top: 0.5rem;
}

/* Car Rentals */

.cars--cards{
    height: 35rem;
}

.cars--card{
    height: 100%;
}

.cars--content{
    height: 17rem;
    padding: 1rem;
}

.card1 .cars--img{
    background-image: url('../images/cars--1.jpg');
}

.card2 .cars--img{
    background-image: url('../images/car--2.jpg');
}

.card3 .cars--img{
    background-image: url('../images/cars--3.jpg');
}

.cars--btn{
    position: absolute;
    right: 0.5rem;
    bottom: 0.5rem;
    padding: 0.5rem 2rem;
    background-color:#FFAA4C;
}


/* Recoomendations Section Ends */


/* Testimonial Section */

/* ------------------------ */
.section{
    padding-bottom: 10rem;
}

.testimonials--container{
    width: 100%;
    position: relative;
    margin-top: 20rem;
}

.testimonials--tmText{
    width: 100%;
    text-align: center;
    padding: 4rem 0;
}

.tmText--title{
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
}

.tmText--subtitle{
    font-size: 2.2rem;
    letter-spacing: 0.3rem;
}
/* ----------------------------- */


.testimonials--container{
    width: 100%;
}

.testimonials--slides{
    width: 100%;
    height: 60rem;
    position: relative;
    display: flex;
}

.slides--icon{
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 5rem;
}

.icon--block{
    font-size: 5rem;
    top: 50%;
    position: absolute;

}

.slides--inner{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slide{
    width: 600px;
    position: absolute;
    opacity: 0;
}

.active{
    opacity: 1;
}

.slide--content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #450dc9;
    padding: 2rem;
    border-radius: 2rem;
    color: #fff;
}

.slide--img{
    border-radius: 15rem;
    height: 15rem;
    width: 15rem;
}

.slide--text{
    font-size: 1.6rem;
    padding: 3rem 2rem 2rem;
    line-height: 150%;
    letter-spacing: 1.2px;
}

.slide--h4{
    font-size: 2.2rem;
    text-align: right;
    width: 100%;
    padding-right: 2rem;
}

.icon--right{
    right: 20rem;
}

.icon--left{
    left: 20rem;
}

/* Testimonial Section Ends */


/* Contact */

/* ------------------------ */
.section{
    padding-bottom: 10rem;
}

.contact--container{
    width: 100%;
    position: relative;
    margin-top: 20rem;
}

.contact--ctnText{
    width: 100%;
    text-align: center;
    padding: 4rem 0;
}

.ctnText--title{
    font-size: 3.5rem;
    letter-spacing: 0.5rem;
}

.ctnText--subtitle{
    font-size: 2.2rem;
    letter-spacing: 0.3rem;
}
/* ----------------------------- */

.contact--content{
    background-color: #c90d9a;
    color: #fff;
    padding: 3rem 6rem;
}

.ctn--h2 {
    font-size: 2rem;
    letter-spacing: 0.5rem;
    text-align: center;
  }
  
.ctn--para {
    margin: 1rem 0 2rem ;
    text-align: center;
    font-size: 1.2rem;
    line-height: 150%;
    padding: 0 3rem;
    font-weight: 300;
}

.contact--content{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    width: 100%;
}

.content--right{
    padding: 1.5rem;
}
  
  .contact-form {
    position: relative;
    margin-top: 3rem;
  }
  
  label{
      font-size: 1.5rem;
      margin-bottom: 0.5rem;
      width: 100%;
    display: block;
  }
  
  input::placeholder, textarea::placeholder,
  input:placeholder-shown, textarea:placeholder-shown {
    color: #450dc9;
    font-size: 1.5rem;
    letter-spacing: 1.4px;
  }
  
  input, textarea {
    font-weight: 500;
    background: #FFAA4C;
    padding: 2rem 1rem;
    margin-bottom: 3rem;
    outline: none;
    border: none;
  }
  
  textarea {
    resize: none;
    width: 100%;
    display: block;
  }

  textarea::placeholder{
    font-family: 'Raleway', sans-serif;
  }
  
.btn {
    text-transform: uppercase;
    background: #FFAA4C;
    color: #fff;
    width: 10rem;
    height: 3rem;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 0 0 1rem 1px #5076e0;
  }
  
.btn:hover{
    background-color: #5076e0;
    box-shadow: 0 0 0.4rem 1px #FFAA4C;
    color: #FFAA4C;
}
  


/* .aboutUs{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 150px 1fr 100px;
}

.aboutUs__content{
    display: flex;
}

.aboutUs__head{
    margin-top: 2rem;
    height: 150px;
}

.head__h2{
    font-size: 2rem;
    padding-top: 2rem;
    text-align: center;
    font-weight: 500;
    color: grey;
}

.head__h2 span {
    font-size: 1.2rem;
    color: darkorange;
    font-weight: 400;
    padding-right: 0.5rem;
}

.content__left{
    height: 400px;
    width: 400px;
}

.stack{
    width:400px;
    position: relative;
}

.stack img {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 1rem;
    transition: all ease-in-out 1s;
}

.stack img:last-child(){
    position: relative;
}

.stack:hover img {
	transform: scale(0.49);
}

.stack:hover img:nth-child(4) {
	transform-origin: 0 0;
}

.stack:hover img:nth-child(3) {
	transform-origin: 100% 0;
}

.stack:hover img:nth-child(2) {
	transform-origin: 0 100%;
}

.stack:hover img:first-child {
	transform-origin: 100% 100%;
}

.content__right p{
    padding: 1rem 2rem 0 1rem;
    font-size: 1.2rem;
}


@media screen and (max-width:750px){
    .content__right p {
        font-size: 1rem;
    }
}

@media screen and (max-width:650px){
    .aboutUs__content{
        flex-direction: column;
    }

    .content__left{
        margin: 0 auto;
    }

    .content__right p {
        padding: 1rem;
    }
}

@media screen and (max-width:450px){

    .content__left{
        height: 280px;
        width: 280px;
    }
    
    .stack{
        width:280px;
        position: relative;
    }
} */