*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: inherit;
}

ul{
    list-style: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    /* background-color: #232323; */
}

.logo img{
    width: 15%;
}

header{
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: radial-gradient(circle at center center, rgba(33,33,33,0),rgb(33,33,33)),repeating-linear-gradient(135deg, rgb(33,33,33) 0px, rgb(33,33,33) 1px,transparent 1px, transparent 4px),repeating-linear-gradient(45deg, rgb(56,56,56) 0px, rgb(56,56,56) 5px,transparent 5px, transparent 6px),linear-gradient(90deg, rgb(33,33,33),rgb(33,33,33));
}

nav{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding-right: 40px;
    padding: 20px;
    background-color: lightcyan;
    z-index: 1000;
}

.navBar{
    display: flex;
}

.navBar a{
    text-transform: uppercase;
    padding: 1rem;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
}

.darkMode{
    padding: 0 50px;
}

.darkMode i:hover{
    transform: rotate(360deg) scale(1.2);
    transition: all 300ms ease;
}

.home__content{
    width: 100%;
    height: calc(100% - 70px);
    position: relative;
    top: 70px;
}

.home--text{
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-20%, -50%);
    color: #fff;
    text-transform: uppercase;
}


.home--text::after{
    content: "";
    display: block;
    background-color: lightseagreen;
    width: 100%;
    height: 10px;
    position: absolute;
}

.home--hello{
    font-size: 20px;
    font-weight: 400px;
    letter-spacing: 2px;
}

.home--name{
    font-size: 40px;
    letter-spacing: 2px;
}

.home--desc{
    font-size: 20px;
    letter-spacing: 5px;
    text-align: center;
}

.right{
    width: 600px;
    position: absolute;
    right: 0px;
    top: 15%;
}

.right2{
    transform: translateX(50deg);
}

.social{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.social li{
    width: 80px;
    /* background-color: lightseagreen; */
    margin: 5px 0px;
    border-radius: 5px 0 0 5px;
    position: relative;
    left: 40px;
    transition: left ease-in 300ms;
    color: #fff;
}

.social li:hover{
    left: 0px;
    color: mediumvioletred;
}

.social i{
    font-size: 20px;
    padding: 10px;
}

/* General */
section{
    width: 100%;
    min-height: 100vh;
    margin: 5rem 0;
}
/* General */

/* About Section */

.about{
    width: 100%;
    height: 100vh;
}

.about--content{
    width: 100%;
    height: 100%;
    padding: 0 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
}

.about--text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text--heading{
    text-align: center;
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.text--subHeading{
    font-size: 2.5rem;
    margin-bottom: 2rem;
    padding-left: 2rem;
    letter-spacing: 2px;
}

.text--para{
    font-size: 1.8rem;
    line-height: 150%;
    letter-spacing: 1.2px;
    padding: 0rem 2rem;
}

.text--btn{
    margin-top: 3rem;
    outline: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: 600;
    color: rgb(68, 20, 199);
    background-color: #8B67F4;
    box-shadow: 0px 3px 10px 1px #222;
    transition: all 100ms ease-in;
}

.text--btn:hover{
    box-shadow: none;
    color: #fff;
}

.about--img{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about--img img{
    width: 600px;
}

/* Blog */

.blog{
    /* background-color: blueviolet; */
    height: auto;
}

.blog--content{
    width: 100%;
    height: 100%;
    padding: 0 3rem;
}

.heading{
    text-align: center;
    font-size: 4rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.blog--cards{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 5rem 2rem;
}

.blog--card{
    width: 400px;
    height: 400px;
    box-shadow: 0 0.5rem 1rem 0.1rem;
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    overflow: hidden;
}

.blog--card:hover .bcard--img{
    height: 100%;
}

.bcard--img{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 60%;
    transition: height 300ms ease;
    background-image: url('./images/html5--logo.jpg');
    background-position: center;
    background-size: cover;
}

.bcard--content{
    position: absolute;
    top: 60%;
}

.bcard--tags{
    position: absolute;
    margin: 2rem;
    top: 0;
    z-index: 10;
}

.bcard--tags .tag{
    margin-right: 1rem;
    font-size: 1.6rem;
    padding: 0.5rem 1rem;
    background-color: rgb(230, 188, 24);
    border-radius: 2rem;
}

.bcard--heading{
    margin: 2rem 0 0;
    font-size: 2.5rem;
    letter-spacing: 2px;
}

.bcard--details{
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    width: 100%;
}

.details{
    padding-right: 1rem;
}

.details i{
    color: rgb(230, 188, 24);;
    padding-right: 0.5rem;
}