<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slide Show</title>
    <script src="https://kit.fontawesome.com/a7e9f794eb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="./slide_show_gallery.css">
</head>
<body>
    <div class="container">
        <div class="slides">
            <div class="slide active">
                <h2>1</h2>
            </div>
            <div class="slide">
                <h2>2</h2>
            </div>
            <div class="slide">
                <h2>3</h2>
            </div>
            <div class="slide">
                <h2>4</h2>
            </div>
            <div class="slide">
                <h2>5</h2>
            </div>
        </div>

        <div class="thumb_container">
            <div class="thumb active_t">
                <h2>1</h2>
            </div>
            <div class="thumb">
                <h2>2</h2>
            </div>
            <div class="thumb">
                <h2>3</h2>
            </div>
            <div class="thumb">
                <h2>4</h2>
            </div>
            <div class="thumb">
                <h2>5</h2>
            </div>
        </div>
        <div class="btn left">
            <i class="fas fa-arrow-circle-left"></i>
        </div>
        <div class="btn right">
            <i class="fas fa-arrow-circle-right"></i>
        </div>
    </div>
    <script src="./slide_show_gallery.js"></script>
</body>
</html>