* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.section__head {
  color: #ffffff;
  min-height: 100vh;
  background-image: url('../images/hero_logo.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.navbar{
  z-index: 10;
}

.nav__container {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -10%);
  z-index: 100;
}

.logo{
  padding: 0.5rem 0;
}

.logo::before,
.logo::after{
  content: "";
  position: absolute;
  background-color: #ffa500;
  height:1.5rem;
  width: 0.2rem;
  /* top: 30%; */
}

.logo::before{
  left: 50%;
  bottom: 15%;
  z-index: -1;
}

.logo::after{
  left: 50%;
  top: 35%;
  z-index: -1;
  /* top: 0%;; */
}

.svg__top {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -25%;
  padding-bottom: 1rem;
  
}

.text {
  fill: none;
  stroke-width: 0.8;
  stroke-dasharray: 100 320;
  -webkit-animation: stroke 5s infinite linear;
  animation: stroke 5s infinite linear;
  background-color: #555;
}

.text:nth-child(5n+1) {
  stroke: #11f0f0;;
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}

.text:nth-child(5n+2) {
  stroke:#FF0000;
  -webkit-animation-delay: -2s;
  animation-delay: -2s;
}

.text:nth-child(5n+3) {
  stroke: #4B0082;
  -webkit-animation-delay: -3s;
  animation-delay: -3s;
}

.text:nth-child(5n+4) {
  stroke: #00ff00;
  -webkit-animation-delay: -4s;
  animation-delay: -4s;
}

.text:nth-child(5n+5) {
  stroke: #ff7f00;
  -webkit-animation-delay: -5s;
  animation-delay: -5s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

.nav__items {
  list-style: none;
  width: max-content;
  display: flex;
  padding: 1rem;
}

.item {
  padding: 1rem 0.5rem;
}

.pro,
.cont {
  position: relative;
  text-decoration: none;
  color: yellowgreen;
  font-weight: 400;
  margin-right: 0.5rem;
  font-size: 20px;
  text-transform: uppercase;
  padding: 0 0 3px 0;
}

.cont {
  margin-right: 0rem;
}

.pro:before,
.cont:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  background-color:yellowgreen;
  width: 0%;
  height: 0.2rem;
  transition: all 0.3s ease;
}

.pro {
  left: 0;
}

.cont:after {
  right: 0;
}

.pro:hover:before,
.pro:visited:hover {
  width: 100%;
}

.cont:hover:after,
.cont:visited:hover {
  width: 100%;
}

.left,
.right {
  height: 100vh;
  position: absolute;
  width: 50vw;
  max-width: 50%;
  opacity: 0;
}

.left,
.right {
  transition: all 0.5s ease;
  overflow: hidden;
  text-align: right;
  right: 0%;
  /* z-index: 1000; */
}

/* Svg Mask Starts */

.head__text {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  height: 100vh;
  z-index: 0;
}

.text__svg {
  width: 100%;
  height: 100%;
}

.svg__mask {
  fill: rgba(255,255,255,1);
}
.text__main {
  text-anchor: middle;
  font-size: 100px;
  font-weight: 600;
}
.text__sub {
  text-anchor: middle;
  letter-spacing: 8px;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;
}
.text__svg #base {
  fill: rgba(255, 255, 255, 1);
  -webkit-mask: url(#mask);
          mask: url(#mask);
}

/* Svg Mask Ends */