*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    font-weight: 300;
    color: #555;
    background-color: #fff;
}

.row{
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background-image: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.4) ), url('../img/hero.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.hero-text-box{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero-text-box::before{
    content: "";
    width: 2px;
    height: 100%;
    background-color: #ffa555;
    position: absolute;
    left: -1rem;
}

.logo{
    height: 100px;
    width: auto;
    float: left;
    margin-top: 0.5rem;
}

.nav__container{
    float: right;
    list-style: none;
}

.nav__container li {
    display: inline-block;
    margin-top: 2.5rem;
    padding: 5px 1rem;
}

.nav__container li a:link,
.nav__container li a:visited {
    text-decoration: none;
    color: #fff;
    transition: all 0.2s;
}

.nav__container li a:hover,
.nav__container li a:active{
    color: #ffa555;
    text-shadow: 1px 1px 2px black ;
    border-bottom: 2px solid #ffa555;
}

.text-box__h1{
    margin: 0;
    color: #fff;
    font-size: 2.4rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    word-spacing: 3px;
    text-shadow: 1px 1px 1px black;
}

.text-box__h2{
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-size: 1.8rem;
    color: #fff;
    margin-top: 0.3rem;
}

.btn:link,
.btn:visited{
    display: inline-block;
    padding: 0.5rem 1.5rem;
    font-weight: 300;
    text-decoration: none;
    margin-top: 1rem;
    border-radius: 1rem;
    color: #fff;
}

.btn-full:link,
.btn-full:visited{
    background-color: #ffa555;
    border: 2px solid #fff;
    transition: all 0.2s ease-in;
}

.btn-ghost:link,
.btn-ghost:visited{
    border: 2px solid #ffa555;
    box-sizing: border-box;
}

.btn-full:hover,
.btn-full:active{
    background-color: transparent;
    border: 2px solid #ffa555;
}

.btn-ghost:hover,
.btn-ghost:active{
    background-color: #ffa555;
    border: 2px solid #fff;
}

.section-features{
    margin: 2rem 1rem 0;
    height: 85vh;
}

.features__head{
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    font-weight: 300;
    text-align: center;
    margin: 3rem 0;
}

.features__head::after{
    content: " ";
    display: block;
    width: 5rem;
    height: 2px;
    background-color: #ffa555;
    margin: 0.5rem auto 0;
}

.features__para{
    margin-bottom: 2rem;
}

.features__content{
    padding: 1rem;
}

.features__content i {
    color: #ffa555;
    text-align: center;
    display: block;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.features__content h3 {
    margin-bottom: 1rem;
    text-align: center;
    font-size: 1rem;
}

.features__content h3::after{
    content: " ";
    display: block;
    width: 5rem;
    height: 2px;
    background-color: #ffa555;
    margin: 0.5rem auto 0;
}

.features__content p{
    position: relative;
    font-size: 0.8rem;
    padding: 0 1rem;
}

.features__content p::before{
    content: " ";
    display: block;
    position: absolute;
    left: -1rem;
    margin-right: 1rem;
    width: 1px;
    height: 100%;
    background-color: #ffa555;
    margin: 0.5rem auto 0;
}

.features__content .one::before{
    content: none;
}

/*  */
/* Pizza Section */
/*  */

.section-gallery{
    margin: 2rem 1rem 0;
    height: 85vh;
}

.gallery__head{
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    font-weight: 300;
    text-align: center;
    margin: 3rem 0;
}

.gallery__head::after{
    content: " ";
    display: block;
    width: 5rem;
    height: 2px;
    background-color: #ffa555;
    margin: 0.5rem auto 0;
}

.gallery__pizza{
    list-style: none;
    width: 100%;
    overflow: hidden;
}

.gallery__pizza li {
    display: block;
    float: left;
    width: 25%;
    padding: 0.2rem 0.3rem;
}

.pizza__img img{
    width: 100%;
    filter: blur();
    transition: all 0.5s ease;
}

.pizza__img:hover img {
    transform: scale(1.1);
}