*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html{
    font-family: 'Playfair Display', serif;
}

a{
    text-decoration: none;
    color: inherit;
}

.container{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    height: 70px;
}

.logo{
    color: #ffc93c;
}

.logo h1 {
    padding-left: 30px;
    font-size: 22px;
}

.logo span{
    color: #e84545;
    font-weight: 800;
}

.nav ul{
    list-style: none;
    display: flex;
}

.nav li {
    padding: 0 30px;
    z-index: 10;
}

.nav li a {
    color: #e84545;
    font-size: 18px;
    font-weight: 600;
}

.nav li:hover a {
    border-bottom: solid 2px #e84545;
}

.main{
    width: 100%;
    background-color: #fff;
    min-height: 90vh;
    color: #111;
    display: flex;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
}

.text__container, .hero__container{
    position: relative;
    width: 50%;
    height: 90vh;
}

.hero__container{
    display: flex;
}

.hero__container img{
    width: 80%;
}

.text__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 5%;
    font-family: 'Ubuntu', serif;
    padding-left: 4%;
}

.hero__bg{
    width: 20%;
    background-color: #ffc93c;
}

.text__heading{
    font-size: 40px;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.text__heading span {
    color: #e84545;
}

.text__sub{
    padding-right: 5%;
    font-size: 15px;
    letter-spacing: 1.4px;
    line-height: 150%;
}

.btn{
    width: 120px;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 20px;
    border: 2px solid #e84545;
    background-color: transparent;
    color: #111;
    font-size: 18px;
}

@media only screen and (max-width: 1000px) {

    .text__container {
        padding-right: 2%;
    }

    .text__heading{
        font-size: 35px;
    }

    .text__sub{
        font-size: 16px;
        padding-right: 0;
        letter-spacing: 1.2px;
    }

    .btn {
        font-size: 17px;
    }
}
    

@media only screen and (max-width: 850px) {

    .text__container {
        padding-right: 0%;
    }

    .text__heading{
        font-size: 30px;
    }

    .text__sub{
        font-size: 16px;
        padding-right: 0;
        letter-spacing: 1.1px;
        line-height: 120%;
    }

    .btn {
        font-size: 16px;
    }

    .hero__container img{
        width: 80%;
    }

    .hero__bg{
        width: 20%;
    }
}
   

@media only screen and (max-width: 750px) {

    .nav li{
        padding: 0 15px;
    }

    .nav li a{
        font-size: 16px;
    }

    .text__heading{
        font-size: 28px;
    }

    .text__sub{
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
        width: 100px;
    }

}

@media only screen and (max-width: 650px) {

    .nav li{
        padding: 0 15px;
    }

    .nav li a{
        font-size: 15px;
    }

    .main{
        display: flex;
        flex-direction: column-reverse;
    }

    .text__container{
        width: 100%;
        height: 40vh;
        padding: 0 20px;
    }

    .text__heading{
        font-size: 26px;
        margin-bottom: 10px;
    }

    .text__sub{
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
        width: 100px;
    }

    .hero__container .hero__bg{
        display: none;
    }

    .hero__container {
        height: 40vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .hero__container img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 50%;
        transform: rotateX(-50%);
    }
}