.sidebar{
    background-color: $color-primary;
    grid-column: ss / se;
    grid-row: 1 / -1;
    display: flex;
    justify-content: center;
}

.nav-btn{
    border: none;
    border-radius: none;
    margin-top: 4rem;
    background-color: white;
    color: $color-primary;
    height: 2px;
    width: 4.5rem;

    &::before,
    &::after{
        content: "";
        display: block;
        width: 4.5rem;
        height: 2px;
        background-color: white;
    }

    &::before{
        transform: translateY(-1.5rem);
    }

    &::after{
        transform: translateY(1.5rem);
    }
}