*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.banner{
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.25;
}

.banner .content{
    position: relative;
    max-width: 750px;
    text-align: center;
}

.banner .content h1{
    color: #FF6B6B;
    font-size: 50px;
    padding-bottom: 30px;
}

.banner .content p {
    color: #FFE66D;
    font-size: 24px;
}

.banner .logo{
    text-decoration: none;
    text-transform: uppercase;
    color: chocolate;
    font-size: 25px;
    font-weight: 700;
    letter-spacing: 1px;
}

.banner header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.about{
    position: relative;
    text-align: center;
    width: 100%;
    display: flex;
    color: #F7FFF7;
}

.about .contentBox{
    position: relative;
    padding: 100px;
    background: #162c3b;
    padding: 100px;
    width: 50%;
}

.heading{
    font-size: 30px;
    color: #FF6B6B;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.text{
    font-size: 20px;
}

.imgBox{
    background: url('https://source.unsplash.com/900x600/?technology');
    width: 50%;
    background-size: cover;
    background-position: center;
}

.products {
    background: #F7FFF7;
    color: black;
    text-align: center;
    padding: 80px 30px;
}

.p_heading {
    margin-bottom: 20px;
    font-size: 30px;
    font-size: 30px;color: #FF6B6B;
}

.p_text{
    padding: 10px 40px;
    font-size: 20px;
}

.p_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.card {
    position: relative;
    background: #1F6F6A;
    box-shadow: 2px 2px 3px black;
    width: 22%;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    transition: all 0.5s ease;
}
.card:hover{
    box-shadow: none;
    transform: translate(5px);
}
.card h2{
    font-size: 20px;
    color: #FF6B6B;
    text-shadow: 1px 1px black;
    padding-bottom: 10px;
}

.card img{
    width: 80%;
    padding-bottom: 30px;
    margin: 10px 20px ;
}

.card p {
    font-size: 16px;
    padding-bottom: 15px;
}

.technology{
    width: 100%;
    overflow: hidden;
    background: url('https://images.unsplash.com/photo-1594729095022-e2f6d2eece9c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80');
    background-position: center;
    background-size: cover;
    padding: 50px;
}

.t_content{
    display: flex;
    flex-direction: column;
    color: #f7fff7;
    height: 100%;
    background: rgba(0,0,0,0.5);
    text-align: center;
    padding-top: 60px;
    padding-bottom: 100px;
}

.t_content h2 {
    color: #FF6B6B;
    text-shadow: 1px 1px black;
    font-size: 30px;
    padding: 30px 10px 20px;
}

.t_content p {
    font-size: 20px;
    padding: 10px 120px;
}

.client{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 80px;
    background: #1a535c;
    color: #f7fff7;
}

.c_content h2{
    padding: 30px;
    font-size: 30px;
    color: #FF6B6B;
}

.c_content p {
    font-size: 20px;
}

.c_logo{
    padding-top: 50px;
    font-size: 25px;
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
}
.c_logo h3{
    opacity: 0.3;
}

.c_logo h3:hover{
    color: #FFE66D;
    cursor: pointer;
    opacity: 1;
}

.te_mny{
    text-align: center;
    padding: 100px;
}

.te_mny h2{
    padding: 0 50px 70px;
    font-size: 30px;
    color: #FF6B6B;
}

.te_cards{
    display: flex;
    justify-content: space-around;
    background-color: #F7FFF7;
}

.te_card{
    padding: 20px;
    background-color: #1A535C;
    border: 2px solid black;
    margin-right:30px;
    font-size: 20px;
    transition: all 0.3s ease;
}

.te_card:hover{
    transform: translateY(2px);
}

.te_card p {
    color: #F7FFF7;
}

.te_card footer {
    padding-top: 20px;
    text-align: end;
    color: #ff6b6b;
    text-shadow: 1px 1px 1px black;
}
.te_card:last-child{
    margin-right: 0;
}