:root {
    --primaryColor: black;
    --secondaryColor: white;
    --bgColor1: #eeeeee;
    --bgColor2: #333;
    --decorate: tomato;
    --headColor: green;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

body{
    font-size: 1.6rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--headColor);
}

h1{
    font-size: 4rem;
}

h2{
    font-size: 3.2rem;
}

h3{
    font-size: 2.8rem;
}

h4{
    font-size: 2.4rem;
}

h5{
    font-size: 2rem;
}

h6{
    font-size: 1.6rem;
}

.container{
    max-width: 120rem;
    margin: 0 auto;
    background-color: #a2d9ff;
}
.s1,
.s3 {
    overflow: auto;
    background-color: #00cba9;
}

.s2,
.s4 {
    background-color: #e7008a;
    overflow: auto;
}

.s1__content,
.s2__content,
.s3__content,
.s4__content {
    max-width: 120rem;
    text-align: center;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
}

.s1__content{
    display: grid;
    grid-template-rows: 15rem 10rem 1fr;
}

.wave{
    width: 100%;
}

.s1__content--header{
    width: 100%;
    min-height: 10rem;
    display: grid;
    padding: 0 0 4rem;
    justify-content: center;
    align-content: center;
}

.s1__content--nav{
    background-color: white;
    border: 2px solid grey;
    color: var(--secondaryColor);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 4rem 40rem;
    grid-template-areas: "main main" "left right";
    margin-bottom: 2rem;
    border-radius: 1rem 1rem 0 0;
    
}

.nav__main{
    grid-area: main;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bgColor1);
    border-radius: 1rem 1rem 0 0;
    border-bottom: 2px solid black;
}

.icons__container--dot{
    display: flex;
    height: 4rem;
}

#dot1{
    background-color: yellow;
}

#dot2{
    background-color: green;
}

#dot3{
    background-color: tomato;
}

.dot{
    margin: 0.5rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    align-self: center;
    background-color: var(--bgColor2);
}

.link__container{
padding: 2rem;
}

.link__container a{
    text-decoration: none;
    color: black;
    cursor: pointer;
    padding: 0 1rem;
}

.link__container a:hover{
    color: tomato;
} 

.nav__left{
    grid-area: left;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    position: relative;
    background-image: url('../images/hero_1.jpg');
    background-position: left bottom;
    background-repeat: no-repeat;

}

.nav__left--container{
    position: absolute;
    top: 5%;
    right: 5%;
    /* transform: translate(0%, -50%); */
}

.nav__left--text h3{
    color: white;
    text-shadow: 1px 1px 4px black;
}

.nav__left--color{
    display: flex;
    justify-content:space-between;
    margin-top: 1rem;
}

.color__container--dot{
    height: 2.5rem;
    width: 2.5rem;
    background-color: blueviolet;
    border-radius:50%;
    box-shadow: 1px 1px 1px 1px black;
}

.nav__right{
    grid-area: right;
    border-left: 2px solid skyblue;
    color: black;
    display: grid;
    justify-content: center;
    align-items: center;
}

.nav__right--container{
    width: 35rem;
    height: 15rem;
    position: relative; 
    padding:3rem 0 0 3rem;  
    background-color: green
}

.right__container--main{
    width: 35rem;
    height: 15rem;
    border: 0.2rem solid var(--decorate);
    padding: 1rem 2rem;
    position: relative;
}

.right__container--text{
    padding: 1rem;
}

.right__container--text h3{
    text-align: right;
    padding: 0 2rem 2rem;
    font-size: 2.5rem;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.right__container--text p{
    text-align: left;
    color: aliceblue;
    font-size: 1.5rem;
    text-shadow: 1px 1px 1px black;
}

.border__item{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.2rem solid var(--decorate);
    position: absolute;
    background-color: var(--decorate);
}

#b1{
    top: -0.5rem;
    left: -0.5rem;
}

#b2{
    top: -0.5rem;
    right: -0.5rem;
}

#b3{
    bottom: -0.5rem;
    left: -0.5rem;
}

#b4{
    bottom: -0.5rem;
    right: -0.5rem;
}


@media screen and (max-width:1200px) {

    .s1__content,
    .s2__content,
    .s3__content,
    .s4__content {
        width: 95%;
        margin: 0 auto;
    }
}

@media screen and (max-width:800px){
    .s1__content--nav{
        background-color: white;
        border: 2px solid grey;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 4rem 1fr 1fr;
        grid-gap:2rem;
        grid-template-areas: "main" "left" "right";
        margin-bottom: 2rem;
        border-radius: 1rem 1rem 0 0;
        
    }
}