*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #32323b;
    color: aliceblue;
}

.heading_site{
    text-align: center;
    letter-spacing: 0.2rem;
    font-size: 3.2rem;
    text-transform: uppercase;
    color: turquoise;
    width: max-content;
    position: relative;
    margin: 0 auto;
    margin-top: 2rem;
}
.heading_site::before,
.heading_site::after{
    content: "";
    position: absolute;
    top: 50%;
    width: 3rem;
    height: 0.2rem;
    background:tomato;
}

.heading_site::before{
    left: -15%;
}
.heading_site::after{
    right: -15%;
}

main {
    display: grid;
    grid-template-columns: 1fr repeat(12, minmax(auto, 60px)) 1fr;
    grid-gap: 2rem;
    padding: 4rem 0;
}

.text--medium {
    font-size: 1rem;
    font-weight: 400;
}

.cards {
    grid-column: 2 / span 12;
    display: grid;
    grid-template-columns: repeat(12, minmax(auto, 60px));
    grid-gap: 40px;
}

.card {
    grid-column: span 4;
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 1rem;
    transition: all 0.5s ease-in;
    margin-bottom: 20px;
}

.card:hover {
    transform: translatey(1.1rem);
}

.card__image-container{
    width: 100%;
    padding-top: 56.25%;
    overflow: hidden;
    position: relative;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    
}

.card__image-container img {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.card__content{
    padding: 1rem;
}

.card__title{
    margin-bottom: 1rem;
    text-align: center;
    color: goldenrod;
    font-size: 1.5rem;
    text-shadow: 3px 2px 2px black;
}

.card__info{
    display: flex;
    align-self: flex-end;
    align-items: center;
}

.box{
    padding: 0.5rem;
}

.card__price{
    margin-left: auto;
    padding: 0.5rem 0.7rem;
    border-radius: 1rem;
    background-color: #100000;
    color: yellowgreen;
    text-align: center;
}


.card__price:hover{
    color: #32323b;
    background-color: yellowgreen;
}


@media only screen and (max-width: 1000px){
    .card{
        grid-column: span 6;
    }
}

@media only screen and (max-width: 650px){
    h1.heading_site{
        font-size: 2.5rem;
    }

    .heading_site::before{
        left:-5% ;
        width: 1rem;
    }
    .heading_site::after{
        right: -5%;
        width: 1rem;
    }
}

@media only screen and (max-width: 500px){
    main{
        grid-template-columns: 10px repeat(6, 1fr) 10px;
    }

    h1.heading_site{
        font-size: 2rem;
    }

    h1.heading_site:after,
    h1.heading_site::before{
        content: none;
    }

    .cards {
        grid-column: 2/ span 6;
        grid-template-columns:repeat(6, 1fr);
        grid-gap: 10px;
    }
    .card{
        grid-column: span 6;
    }
}


