:root{

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
}


/* ----------------------- */
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
}

body{
    font-family: 'Playfair Display', serif;
    font-size: 1.6rem;
    margin-bottom: 5rem;
}

.section{
    padding: 3rem 0 6rem;
}

.section--title{
    font-size: 2.5rem;
    text-align: center;
}

.section--subtitle{
    font-size: 1.4rem;
    margin-bottom: 5rem;
    text-align: center;
}

.container{
    max-width: 1920px;
    margin: auto 5rem;
}

/* ------------------- */



/* Header Section */

.header{
    width: 100%;
    position: flex;
    bottom: 100%;
    right: 0;
    z-index: 10;
    background-color: #eee;
}

.header--container{
    max-width: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 0 30px;
}

.header--nav{
    padding: 1rem;
}

.nav--list{
    display: flex;
}

.header--logo a{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.3rem;
}

.header--logo:hover a,
.btn--toggle:hover i{
    color: crimson;
}

.nav--item{
    padding: 2rem;
}

.nav--item a{
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    display: inline-block;
}

.nav--item i{
    display: inline-block;
}

.nav--item a:hover{
    color: rgb(236, 75, 12);
}

.nav--item i {
    margin-right: 1rem;
}

.nav--item:hover i{
    color: gold;
}

.header--btn{
    font-size: 2rem;
    width: 2rem;
}

.header--close{
    display: none;
}

.header--btn{
   right: 6rem;
}

/* Header Section Ends */

@media screen and (min-width: 601px) and (max-width:960px){
    .header{
        width: 100%;
        position: fixed;
        bottom: 0%;
        left: 0%;
        box-shadow: 0 2px 2px rgb(0, 0, 0, 0.5);
        background-color: antiquewhite;
    }

    .header--container{
        position: relative;
    }

    .header--btn{
        position: absolute;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        padding: 1rem;
        left: 1rem;
    }

    .header--logo{
        color: white;
        left: 0;
        color: #111;
    }

    .header--logo a{
        font-size: 1.3rem; 
    }

    .nav--item{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav--item .nav--links{
        font-size: 1.1rem;
    }

    .nav--item i{
        font-size: 3rem;
        margin: 0;
    }
}

@media screen and (min-width: 300px) and (max-width:600px){
    .header{
        width: 100%;
        position: fixed;
        bottom: 0%;
        left: 0%;
        box-shadow: 0 2px 2px rgb(0, 0, 0, 0.5);
        background-color: antiquewhite;
    }

    .header--container{
        position: relative;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .nav--list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        margin-left: 4rem;
    }

    .nav--item{
        text-align: left;
    }

    .header--logo{
        position: absolute;
        background-color: slateblue;
        color: #fff;
        padding: 1rem;
        left: -3rem;
        top: 50%;
        transform: translateY(-50%) rotate(-90deg);
    }

    .header--btn{
        position: absolute;
        top: 1rem;
        left: 1rem;
    }

    .nav--item .nav--links {
        font-size: 1.2rem;
    }

    .nav--item i{
        font-size: 3rem;
        margin: 0;
    }

}