<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ikigai</title>
    <style>
        .container{
            width: 100%;
            min-height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .tiles{
            width: 900px;
            height: 400px;
            background-color: slategray;
            display: grid;
            grid-template-rows: repeat(2, 1fr);
        }

        .tile{
            border: 1px solid #fff;
            width: 300px;
            height: 200px;
        }


    </style>
</head>
<body>
    <div class="container">
        <div class="tiles">
            <div class="layer">
                <div class="tile">
                    <div class="tile--main">
                        <div class="tile--head">
                            <span>ikigai</span>
                            <span>ee-key-guy</span>
                        </div>
                        <div class="title--text">that which gives your life worth, meaning, or purpose</div>
                    </div>
                    <div class="overlay">
                        <div class="tile--text">iki, meaning “alive” or “life,”</div>
                        <div class="tile--text">gai, meaning “benefit” or “worth.”</div>
                        <div class="tile--link"></div>
                    </div>
                </div>
                <div class="tile">
                    <div class="tile--main">
                        <div class="tile--head">
                            <span>You Love It</span>
                        </div>
                    </div>
                    <div class="overlay">
                        <div class="tile--text">
                            what we do or experience that brings us the most joy in life and makes us feel most alive and fulfilled. 
                        </div>
                    </div>
                </div>
                <div class="tile">
                    <div class="tile--main">
                        <div class="tile--head">
                            <span>You Are Great at It</span>
                        </div>
                    </div>
                    <div class="tile--text"> anything you are particularly good at, such as skills you’ve learned, hobbies you’ve pursued, talents you’ve shown since an early age, etc.</div>
                </div>
            </div>
            <div class="layer">
                <div class="tile">
                    <div class="tile--main">
                        <div class="tile--head">
                            <span>The World Needs It</span>
                        </div>
                    </div>
                    <div class="tile--text">The “world” here might be humanity as a whole, a small community you are in touch with, or anything in between.</div>
                </div>
                <div class="tile">
                    <div class="tile--main"></div>
                </div>
                <div class="tile">
                    <div class="tile--main">
                        <div class="tile--head">
                            <span>You Are Paid for It</span>
                        </div>
                    </div>
                    <div class="tile--text">the world or society at large, in that it involves what someone else is willing to pay you for</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>