*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

.container{
    width: 100wv;
    min-width: 600px;
    height: 100vh;
    min-height: 600px;
    background: #000428;  
    background: -webkit-linear-gradient(to right, #004e92, #000428);  
    background: linear-gradient(to right, rgb(0, 78, 146), rgb(0, 4, 40)); 
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.contact{
    width: 600px;
    height: 600px;
    min-height: 600px;
    min-width: 600px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    background-image: url('https://source.unsplash.com/1600x900/?nature,water');
    position: relative;
    z-index: 1;
}

.contact__overlay{
    position: absolute;
    height: 600px;
    width: 600px;
    background: linear-gradient(to right, rgba(0, 78, 146,0.5), rgba(0, 4, 40,0.5));
    border-radius: 20px;
}

.contact__title{
    position: absolute;
    height: 60px;
    width: 100%;
    font-size: 60px;
    padding-top: 30px;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    z-index: 20;
    color: #ff6a00;
    letter-spacing: 15px;
    text-align: center;
    text-shadow: 0 0 3px;
    transform: rotate(-90deg)translateX(-260px)translateY(-280px);
}

.contact__content{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
}

.contact__main{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.right,
.left{
    height: 100%;
    padding: 5px;
    position: relative;
}

.left{
    width: 40%;
    font-size: 30px;
    display: flex;
    position: relative;
}

.left__text{
    position: absolute;
    display: flex;
    left : 35px;
    bottom: 20px;
}

.left__text i {
    margin-right: 20px;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.left__text i:nth-child(4){
    margin-right: 0;
}

.left__text i:hover{
    color: #ff6a00;
    transform: scale(0.7);
}

.right{
    width: 60%;
    padding-top: 30px;
    background: linear-gradient(to right, rgba(0, 4, 40,0.8), rgb(0, 78, 146));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.right > div, textarea{
    position: relative;
}


#name, #email, #subject, 
textarea{
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    width: 100%;
    color: #fff;
    font-size: 18px;
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    position: relative;
    padding-left: 25px;
}


textarea{
    resize: none;
}

label{
    position: absolute;
    padding-left: 5px;
    bottom: 1px;
    left: 10px;
    transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
    font-size: 20px;
}

.msg_lbl{
    bottom: 5px;
    transition: all 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

#name:focus ~ label,
#name:valid ~ label, 
#email:focus ~ label, 
#email:valid ~ label,
#subject:focus ~ label,
#subject:valid ~ label{
    transform: translateY(-25px) translateX(-20px)rotate(-90deg);
    color: #ff6a00;
    font-size: 14px;
}

textarea:focus ~ .msg_lbl,
textarea:valid ~ .msg_lbl{
    transform: translateY(-100px) translateX(-20px)rotate(-90deg);
    color: #ff6a00;
    font-size: 14px;
}

#name:focus,
#name:valid, 
#email:focus, 
#email:valid,
#subject:focus,
#subject:valid,
textarea:focus,
textarea:valid{
    border-bottom: 1px solid #ff6a00;
}



.btn {
    align-self: center;
    width: 160px;
    height: 40px;
    background: rgb(0, 78, 146);
    background-image: -webkit-linear-gradient(top, rgb(0, 78, 146) , rgb(0, 4, 40));
    background-image: -moz-linear-gradient(top, rgb(0, 78, 146) , rgb(0, 4, 40));
    background-image: -ms-linear-gradient(top, rgb(0, 78, 146) , rgb(0, 4, 40));
    background-image: -o-linear-gradient(top, rgb(0, 78, 146) , rgb(0, 4, 40));
    background-image: -webkit-gradient(to bottom, rgb(0, 78, 146) , rgb(0, 4, 40));
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-size: 16px;
    padding: 10px;
    -webkit-box-shadow: 1px 1px 10px 0 #000000;
    -moz-box-shadow: 1px 1px 10px 0 #000000;
    box-shadow: 1px 1px 10px 0 #000000;
    text-shadow: 1px 1px 10px #000000;
    border: solid rgb(255, 106, 0) 2px;
    cursor: pointer;
    text-align: center;
    margin-bottom: 50px;
 }
 
 .btn:hover {
    border: solid #fff 2px;
    background: rgb(0, 4, 40);
    background-image: -webkit-linear-gradient(top, rgb(0, 4, 40), rgb(0, 78, 146) );
    background-image: -moz-linear-gradient(top, rgb(0, 4, 40), rgb(0, 78, 146) );
    background-image: -ms-linear-gradient(top, rgb(0, 4, 40), rgb(0, 78, 146) );
    background-image: -o-linear-gradient(top, rgb(0, 4, 40), rgb(0, 78, 146) );
    background-image: -webkit-gradient(to bottom, rgb(0, 4, 40), rgb(0, 78, 146) );
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }